[2015-07-24 03:35] alexandrevicenzi opened #1 "Some ideas"
- In the archives, each pair of post date/title seem to need a little more separation between each other.
- Don't show the header photo when the screen is small to avoid scrolling?

[2015-07-24 12:12] jasongtz opened #2 "Social 'email' logo not appearing"
Added `('email', 'mailto:name@mydomain.com'),` to SOCIAL. All the others seem to be working, but mail is a blank blue circle, not a logo.

Apologies, bug or feature?

<img width="336" alt="screen shot 2015-07-24 at 13 08 17" src="https://cloud.githubusercontent.com/assets/10981911/8874099/77c46e8c-3205-11e5-8bd1-ffffd95b581f.png">

Thanks for the theme, it's great!

[2015-07-24 12:40] jasongtz commented on #2
After looking into it more, I think it's because the Font Awesome email icon is called 'envelope-o'. Changing `email` to `envelope-o` in the config file fixes the icon, but breaks the background colour, (presumably in the CSS). I've played around with it but don't have much experience with CSS - if I figure out how to fix it, I'll submit a pull request.

[2015-07-25 16:29] jasongtz commented on #2
Fixed in pull request #3.

[2015-07-26 16:54] tyleraland commented on #2
Patiently anticipating this pull request to be merged.  Thanks for the fix jasongtz and lots of thanks alexandrevicenzi for the great theme!

[2015-07-27 12:23] alexandrevicenzi commented on #2
PR accepted. Thanks for found this.

[2015-07-27 12:23] #2 closed

[2015-10-03 10:37] sebalix opened #11 "Justify text in the articles"
Hi,

Is it possible to justify text in articles?
I added the following custom CSS:
[code]
But is there any drawback to do so, and if not maybe include it by default?

[2015-10-05 14:42] alexandrevicenzi commented on #11
@sebalix it must work, if not override by any other CSS.

As default I dislike a little. You could use `CUSTOM_CSS` to make it default to you.

Maybe a good way to make it default for who want, is to create an way to compile LESS with some optional parameters. By now I'm to busy to do this, but I'll take a look soon as possible.

[2015-10-05 14:45] sebalix commented on #11
Not a problem, I already deal with it myself with the `CUSTOM_CSS` option.

[2015-10-05 19:55] alexandrevicenzi commented on #11
But, is the custom CSS working for you?

[2015-10-06 08:11] sebalix commented on #11
Of course! I was just asking if it could be integrated to the theme directly, but as you do not prefer, I will continue to use it via the ``CUSTOM_CSS` directive which works very well ;) I close the issue.

[2015-10-06 08:11] #11 closed

[2015-11-07 17:39] seveas opened #13 "Thank you!"
I don't actually have an issue :smile:

Just wanted to say thanks for this theme and its liberal license. As someone who can't design his way out of a beartrap, I've spent a long time finding a theme I like for my latest project ([click if you're interested](http://git.seveas.net)). This theme is pretty much perfect for what I need and it looks awesome. I may even use it in other projects.

[2015-11-08 20:35] kiddick opened #14 "Posts preview on main page."
There is a cool option with preview of posts when they grouped by tag.

![1](https://cloud.githubusercontent.com/assets/9250239/11022488/cb8090c6-8671-11e5-83b4-7d01e41ca59d.png)
Is there any way to do the same on main page?
![2](https://cloud.githubusercontent.com/assets/9250239/11022489/cb9bb338-8671-11e5-932b-c2d75ecd7c68.png)

Thanks in advance!

[2015-11-09 16:08] alexandrevicenzi commented on #13
Hi @seveas,

I feel good to know :smiley:  Your project looks good on Flex theme.

As you, I'm not a designer, but I tried to build my 1st theme.

[2015-11-09 16:10] alexandrevicenzi commented on #14
I think there's one of Pelican settings that could work. By now, I know there's a bug with this feature.

I'll try to fix this soon, but I'm to busy.

[2015-11-10 20:26] kiddick commented on #14
Thanks for reply.
Check this https://hathcock.me/.
Seems it is ok here.
@hathcock could you please share with us setting for subject of topic?

[2015-11-10 20:31] alexandrevicenzi commented on #14
@kiddick he made a wrap at index.html. You can set `{% set summarize = True %}` to get it working.

[See here](https://github.com/hathcock/hathcock.me/blob/pelican/flex/templates/index.html).

[2015-11-10 22:16] hathcock commented on #14
Yep, obviously the quick-n-dirty fix to get the visually pleasing main page snippets, but it works.

[2015-11-10 22:45] alexandrevicenzi commented on #14
@hathcock and @kiddick I will add an setting for that :kissing_heart:

[2015-11-16 18:34] #13 closed

[2015-11-23 03:25] alexandrevicenzi opened #16 "Add StatusCake RUM support"
Add Real User Management script.

[2015-11-25 02:04] alexandrevicenzi opened #18 "Add Tests"
Add Travis CI tests.

Just a way to compile using all settings to try to catch some error if any.

[2015-11-30 12:38] mauricioabreu opened #19 "Add support to webassets plugin"
Would you like to have webassets plugin support for Flex?
I have it on my project (https://github.com/mauricioabreu/blog). If so, tell me so I can create a pull request soon.
Thanks for this beautiful theme. :-)

[2015-12-02 21:02] alexandrevicenzi commented on #19
I think you can send a PR. I'll take a look after.

[2015-12-22 11:15] marcelhuth opened #21 "Bug in CSS with placement of "Newer Posts" button"
Hi,
it seems that there is a bug in CSS with placement of "Newer Posts" button on index.html pages. The issue only applies when there is only one article on the page.

<img width="712" alt="bildschirmfoto 2015-12-22 um 12 15 16" src="https://cloud.githubusercontent.com/assets/9551108/11954077/b5819954-a8a5-11e5-9b7a-32688383ee4b.png">

Unfortunately I'm not the CSS expert to figure out the error o

[2015-12-22 11:29] marcelhuth commented on #21
I think I figured out a quick'n'dirty workaround. In pagination.html just added a
[code]
That makes sure the button is placed before the `hr`

[2015-12-22 12:02] alexandrevicenzi commented on #21
Hi @marcelhuth,

Could you provide OS and browser version?

[2015-12-22 12:04] marcelhuth commented on #21
OS is MacOS 10.11.2 with browsers Chrome 47 and also with Safari 9.0.2

[2016-01-15 03:20] alexandrevicenzi commented on #18
Done.

[2016-01-15 03:20] #18 closed

[2016-02-14 19:38] angoca opened #28 "FAVICON property not in the documentation"
I was reading the documentation, and I have not found documentation in the wiki about the favicon. Is this property only for flex?

[2016-02-14 19:40] angoca commented on #28
The same happens for USE_LESS

[2016-02-15 13:29] alexandrevicenzi commented on #28
Oh, it's missing :disappointed:

Basically, `USE_LESS` will enable LESS instead of CSS. This is not good for production, only for development, it helps because you don't need to compile less files every time you make a change on it.

`FAVICON` is just a path for you favicon.ico. It could be an external file, or related url inside the "static" folder.

I'll update the Wiki with this info.

[2016-02-16 00:20] #21 closed

[2016-02-16 00:58] alexandrevicenzi commented on #14
@kiddick and @hathcock you can use `SUMMARY_MAX_LENGTH` pelican setting ou also `summary` metadata tag.

These are pelican default configs, now it just works :smile:

[2016-02-16 00:58] #14 closed

[2016-02-27 04:06] #1 closed

[2016-02-27 04:23] alexandrevicenzi commented on #28
The docs are up to date now. Thanks.

[2016-02-27 04:23] #28 closed

[2016-03-17 05:52] slee124565 opened #30 "templates/base.html <link> entry with typo href attribute"
commit-id : ab0f263d4c7de72cc9123c2bd911260dd9576a38
line 4 <link> entry string
 <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
This <link> 's [href] attribute has invalid value.

[2016-03-17 12:20] alexandrevicenzi commented on #30
Where's the typo?

[2016-03-17 12:28] slee124565 commented on #30
I think there should be 'https:' in the head of href attribute, check the original code :
 <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>

[2016-03-17 12:31] alexandrevicenzi commented on #30
The code:

`<li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>`

It's Jinja template vars. You need to put your http[s] in `SITEURL` variable.

I see no errors here.

[2016-03-17 13:05] sebalix commented on #30
Tip: if you just set `SITEURL = '//example.net'` it will work both with `http:` and `https:` schemes.

[2016-03-17 13:14] alexandrevicenzi commented on #30
@sebalix that's true, and it's the best option to use if the blog is under http and https.

[2016-03-17 13:18] slee124565 commented on #30
sorry that my previous comment did not edit correctly.
we are discussing with different line code
the 4th line in ./templates/base.html
`<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>`
I suppose the href attribute is static reference to internet URI,
and guess there should be a 'https' in head of it's value. like
`<link href='

[2016-03-17 13:27] alexandrevicenzi commented on #30
@slee124565 as said by @sebalix it's not needed to put http or https if you have `//`. All browsers assume the same schema of the current site if it's only find `//`.

It will fail if you open this template as an html file. If you're hosting somewhere (Python, PHP, etc) it will work.

[2016-03-17 14:55] slee124565 commented on #30
@alexandrevicenzi  and @sebalix
Thanks for your explanation.

[2016-03-17 14:55] #30 closed

[2016-04-18 11:24] pablomh opened #31 "Update font-awesome.min.css to be more CSS compliant"
Hi,

Updating font-awesome.min.css to currently released version (4.6.1 vs 4.3.0 in Flex) has decreased the number of errors using W3C CSS Validator from 18 to 2.

Best regards.
Pablo

[2016-04-18 11:47] alexandrevicenzi commented on #31
Hi @pablomh,

You can send a PR if you want, thanks.

[2016-04-18 13:20] pablomh commented on #31
Done: [https://github.com/alexandrevicenzi/Flex/pull/32](url)

[2016-04-20 17:40] alexandrevicenzi opened #33 "Use greenkeeper to track dependencies"
Just an idea, maybe useful.

https://greenkeeper.io/

[2016-04-23 06:19] #31 closed

[2016-04-23 06:25] alexandrevicenzi commented on #33
Done.

[2016-04-23 06:25] #33 closed

[2016-04-23 16:37] dangoron opened #36 "Social icons problem"
Hi Alexandre,

I really appreciate your work, it looks perfect on my blog except there were no social icons show up. Finally I noticed the path is not correct.

On file 'base.html' line 14, the href shoud be
`"{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/font-awesome.min.css"`
 instead of
 `"{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/font-awesome.min.css"`.

Hope this would help.

[2016-04-23 16:41] alexandrevicenzi commented on #36
This was fixed.

That's a problem when people download master instead of a tag. Most of time the master is broken because I'm working on it.

[2016-04-23 16:41] #36 closed

[2016-04-23 22:30] alexandrevicenzi opened #38 "New Pygments styles"
[More info](https://github.com/alexandrevicenzi/Flex/wiki/Code-Highlight)

[2016-04-23 22:45] alexandrevicenzi commented on #38
Done.

[2016-04-23 22:45] #38 closed

[2016-05-06 03:18] #16 closed

[2016-05-18 17:23] alexandrevicenzi opened #42 "Improve SEO Tags"
Here is a good example: http://demo.ghost.io/style-test/

[2016-06-10 05:40] alexandrevicenzi opened #43 "Theme translations"
Pelican supports translation. Flex is only in English, if someone want to use in pt-BR it need to edit the theme.

It's good to not break things if use i18n.

[Jinja way to translate](https://github.com/getpelican/pelican-plugins/blob/master/i18n_subsites/localizing_using_jinja2.rst)

[2016-06-10 05:43] alexandrevicenzi commented on #19
As mentioned in #40, I'm closing this issue.

[2016-06-10 05:43] #19 closed

[2016-06-22 10:15] bingoarunprasath opened #45 "Question / Feature request : Option to change the orange-ish theme"
Can I change the overall "orange" theme by modifying conf files in pelicanconf.py ? If not, can you please add a feature for that ?

[2016-06-30 19:15] alexandrevicenzi commented on #45
No you can't. You need to change LESS file.

There's no need for a conf for this. You can change the LESS file. If you want you could create a variable.less and import it where it's needed.

[2016-06-30 19:50] sebalix commented on #45
@alexandrevicenzi The `CUSTOM_CSS` does the trick, no?
@bingoarunprasath Check the wiki here https://github.com/alexandrevicenzi/Flex/wiki/Configuration-Example
I change the theme for my blog to a green variant: https://usr-src.org/

[2016-06-30 23:35] alexandrevicenzi commented on #45
@sebalix thanks, I forgot about this. :+1:

[2016-06-30 23:36] #45 closed

[2016-07-01 10:23] bingoarunprasath commented on #45
Thanks @alexandrevicenzi @sebalix

[2016-07-30 10:02] marcelhuth commented on #43
Hi,
I already have a fork which has i18n included for german language. Unfortunately the fork is very old and I did several changes in other parts - would be nearly impossible to merge all the stuff between my fork and your current master.
I could start over with a new fork and only change the necessary i18n things. As I need this for my own I'll raise a merge request when ready, okay?

[2016-07-30 12:25] marcelhuth commented on #43
I've a localized version of the theme, will commit that to my local branch and send a pull request. But, I think the steps necessary for getting all the localization to work with `pybabel`, probably for having another language supported or getting the `pelican.conf` modifications right, should be documented somehow. Probably in repo's wiki, @alexandrevicenzi ?
Plz let me know if that is what you n

[2016-07-31 00:14] alexandrevicenzi commented on #43
@marcelhuth thereś two things to document somewhere.

- How to use translations
- How to translate

Thanks for your effort in this task.

[2016-07-31 09:25] marcelhuth commented on #43
Having i18n support in the theme means you **have to** import the i18n_subsites plugin from [pelican-plugins](https://github.com/getpelican/pelican-plugins/tree/master/i18n_subsites) repo and add the JINJA2_EXTENSIONS for i18n as the `{% trans %}` tags have to be interpreted by JINJA2
This would be the only change necessary in your `pelicanconf.py`. The theme will then use the default language whi

[2016-08-01 03:39] alexandrevicenzi commented on #43
@marcelhuth I think Jinja uses gettext, so it can be done with any translation tool that supports PO files.

About the pelican plugins, well, it's a very big breaking change. There's any change to run without downloading any extra package for those that will only use English?

I already use pelican plugins, so for me it's not a big deal to include another dependency. But I'm thinking that maybe no

[2016-08-02 01:43] alexandrevicenzi opened #47 "Google AdSense support"
Well, it's very common and useful. But the question is: Where must the banners be placed?

It's not good to add 10 banners per page. One is annoying, so it must be something careful, or not done at all.

Just thinking about this today.

[2016-08-10 03:13] alexandrevicenzi commented on #43
@marcelhuth as expected the translation doesn't fit for Portuguese. I think this same problem can occur to any other language, like Spanish or Chinese.

The problem is that `trans` tag from Jinja sucks. There's no `blocktrans` as Django, that let you create some crazy messages.

The simple example:

[code]

In English is:

`Built using Pelican - Flex theme by Alexandre Vicenzi`

But in Portuguese

[2016-08-10 03:46] alexandrevicenzi commented on #43
@marcelhuth I was looking for some inspiration, but 99% of pelican themes doesn't support translation.

I found [one](https://github.com/molivier/nest/tree/master#pelicanconf-example) but this is crazy. And there's [this one](https://github.com/piefa703/pjport) that doesn't has trans block but has translation.

[2016-08-10 03:50] alexandrevicenzi opened #48 "X minute read like Medium"
[post_stats](https://github.com/getpelican/pelican-plugins/tree/master/post_stats) offers some stats, it could be used to add X minutes read like Medium.

Here's an example:

[code]

[2016-08-10 03:53] alexandrevicenzi opened #49 "Search"
There's a plugin [tipue_search](https://github.com/getpelican/pelican-plugins/tree/master/tipue_search) to enable some kind of search.

It also could be used Google custom search or anything else.

[2016-08-10 03:55] alexandrevicenzi opened #50 "Custom 404"
Well, hosting on github gives an error that it's not good.

For example [http://blog.alexandrevicenzi.com/notfound](http://blog.alexandrevicenzi.com/notfound) should point to some good looking 404 page.

[2016-08-10 09:16] marcelhuth commented on #43
@alexandrevicenzi Sorry, I didn't realize that it could be problem with other languages as in german the sequence is nearly the same :(
I've found a "workaround" for this w/o using another plugin in Pelican. You can use variables in Jinja2 even in the `{% trans %}` tags. Please let me know if this could be an option for other languages or at least with Portuguese:
[code]
The "variables" (which are

[2016-08-10 12:24] alexandrevicenzi commented on #43
@marcelhuth Yes, I was thinking about that. The new style has a lot of improvements.

I'm not sure, but I think this is more readable.

[code]

About the translations, I was thinking to change some theme messages. So I could ajust what is wrong. But you can also send a PR if you like.

[2016-08-10 14:45] marcelhuth commented on #43
Let me look through the stuff. I'll rework the `{% trans %}` tags to some nicer newstyle gettext expressions. For now, I don't think it is necessary to rework the messages of the theme.

If tested a bit, we could use the expression format to have kind of variables that would fit with different language's syntax.

I think I'll be done later today or tomorrow and send you a new PR with the changes.

[2016-08-10 14:59] alexandrevicenzi commented on #43
Sure, using named variables is far better.

@marcelhuth I made a wiki for how to [turn on translation](https://github.com/alexandrevicenzi/Flex/wiki/Translation-support).

I'm also searching for a good way to create new translations. I think that it's better to use `gulp`  instead of `pybabel`.

The Flex will have the `.POT` file that is the PO template. To create a new translation we just need to

[2016-08-10 17:58] #43 closed

[2016-08-11 02:23] #48 closed

[2016-08-11 19:53] alexandrevicenzi commented on #50
This can be done over pages.

[2016-08-11 19:53] #50 closed

[2016-08-11 21:04] alexandrevicenzi commented on #43
@marcelhuth I changed some message. I also changed some code and removed autoscape.

You can join [my channel on gitter](https://gitter.im/alexandre-vicenzi/flex) to talk about. It's new, there's no one there yet. 😛

[2016-08-12 00:14] alexandrevicenzi commented on #43
@marcelhuth Good news, there's no need to change anything to use the theme with English. Now only it's required to enable i18n plugin if someone want to use in another language.

This is a good improvement since we wont break any old config. See [this commit](https://github.com/alexandrevicenzi/Flex/commit/723e047addf044a2d40af66d57c2eb5beda544a7).

[2016-08-17 09:34] BridouZ opened #53 "Codeblock displays the whole code on one line"
Hi, I've been using your theme for my blog and I really love it, amazing work.

However I have an issue that I can't manage to fix.

When I write a codeblock in my markdown files :
[code]

[2016-08-17 11:58] alexandrevicenzi commented on #53
@BridouZ I have no idea, if you could show your code maybe it help.

For example:

&#96;command args&#96; will produce a one line

and

&#96;&#96;&#96;python
def my_code():
  pass
&#96;&#96;&#96;

will produce a multiline.

This is done by markdown itself and the styles are applied by pygments. It's not Flex. Flex only has custom pygments CSS.

[2016-08-17 20:50] BridouZ commented on #53
@alexandrevicenzi Ok I managed to solve my issue, thanks a lot.

The extract_toc plugin was messing up the markdown process and I had to add _codehilite_ markdown extensions to bring back codeblock style :)

[2016-08-17 20:55] alexandrevicenzi commented on #53
@BridouZ ok. :)

[2016-08-17 20:55] #53 closed

[2016-09-14 18:49] gustavofoa commented on #47
I think it makes sense a reponsive adsense banner on top/bottom of articles.

I've just implemented it in a fork. I'm going to PR for your apreciation.

[2016-09-14 18:56] alexandrevicenzi commented on #47
I think it's good to have more than two options. We could allow up to 5 places somewhere and the user choose where to place.

Fo example:

[code]

[2016-09-14 19:05] gustavofoa commented on #47
Nice! Which other places do you think good to add banners?

Do you agree to support only responsible banners?

[2016-09-15 19:05] alexandrevicenzi commented on #47
For all pages (Scenario 1):

![image](https://cloud.githubusercontent.com/assets/2637672/18563264/6df4c08a-7b5d-11e6-8e08-aebd3ea60c15.png)

For Home only (Scenario 2):

![image](https://cloud.githubusercontent.com/assets/2637672/18563332/a9956266-7b5d-11e6-8db6-9511c4bd982b.png)

For articles (Scenario 3):

![image](https://cloud.githubusercontent.com/assets/2637672/18563404/e3f4a340-7b5d-11e6-84

[2016-09-15 19:06] alexandrevicenzi commented on #47
In my case I think I'll use only aside and article bottom. Two banners are good for me.

But we could allow up to 5 places.

[2016-09-16 12:58] gustavofoa commented on #47
Good idea, I'll try to implement it.

[2016-09-16 13:06] alexandrevicenzi commented on #47
Here where to place:

Before closing `aside` (inside aside).
Before open `nav`.
After closing `article` (for single page only).
After article for-loop (for home only).

[2016-09-16 13:15] gustavofoa commented on #47
Only responsible banners. Right?

[2016-09-16 13:23] alexandrevicenzi commented on #47
Not sure how they will work. As far I know AdSense works good with responsible banners, but we need to  try.

For example, aside must be a square banner, not sure if Google will know this. But we can try.

[2016-09-16 13:34] gustavofoa commented on #47
The responsible banner, on load time, adapts for the browser. You can see it working here: http://gustavofurtado.com.br/seja-bom-no-essencial-programador.html

Open it in your smartphone and open it in a desktop to see the difference.

![image](https://cloud.githubusercontent.com/assets/3338496/18587460/8c1b8634-7bf8-11e6-8627-b8312d244aa7.png)

![image](https://cloud.githubusercontent.com/assets/

[2016-09-16 13:41] alexandrevicenzi commented on #47
Good.

Did you know that you can use Flex in pt_BR (aka HUEHUEHUEBR)?

[2016-09-16 13:44] gustavofoa commented on #47
Yes, I know. I've just forgot to configurate. rsrs

[2016-10-11 02:28] chrisodva opened #57 "Problem: Images not showing on tag / category pages"
This might be user error on my part - but I can't figure out when I'm doing wrong. You can see an example at http://odonnellweb.com/pelican/tag/baseball.html

The URLs for the inline images are not forming correctly - they need to be absolute I think. However they are coming out of pelican as relative to the root directory for the site, and thus not found on pages like tags and category. Is this a

[2016-10-11 12:22] alexandrevicenzi commented on #57
It's not a theme problem. It's related with your URL.

If you use `images/foo.png` it will get the current path. If you user `/images/foo.png` it will get the current host.

You need to use the complete path to create your URL and append `/` at the start, so it will get always your domain (`domain.com/images/foo.png`).

[2016-10-11 12:22] #57 closed

[2016-10-13 01:58] chrisodva commented on #57
Thanks. I got it figured out with your help.

[2016-11-01 04:08] alexandrevicenzi opened #59 "Add Hungarian translation"
https://www.transifex.com/alexandrevicenzi/flex-pelican/language/hu_HU/

[2016-11-16 02:09] alexandrevicenzi opened #60 "Add Italian translation"
https://www.transifex.com/alexandrevicenzi/flex-pelican/language/it/

[2016-11-16 02:17] #60 closed

[2016-11-16 02:17] #59 closed

[2016-11-16 02:22] #47 closed

[2016-11-16 03:20] alexandrevicenzi opened #61 "Improve tests"
There are a lot of new features and they need some kind of test.

[2016-11-24 04:28] dazajuandaniel opened #64 "Help with About Sections"
Hi Alexandre,
Great template, thank you for sharing!

I am having two issues with the about and contact sections I am trying to place.

1- Whenever I try to click on home or the image I get directed to http://dazajuandaniel.github.io/dazajuandaiel.github.io instead of http://dazajuandaniel.github.io

2- The about or contact section directs me to https://dazajuandaniel.github.io/dazajuandaniel.gith

[2016-11-24 12:03] alexandrevicenzi commented on #64
Hi,

`SITEURL = 'dazajuandaniel.github.io'` should be `SITEURL = 'http[s]://dazajuandaniel.github.io'` or `SITEURL = '//dazajuandaniel.github.io'`

This is a trick with `href`, it will concat with the current URL if you don't put the schema.

The about page has the same issue, it can't find the CSS files because the link is broken.

[2016-11-24 12:03] #64 closed

[2016-11-25 15:52] iozephyr opened #65 "Don't know how to add new code highlight style"
Sorry, I can't understand the [Wiki](https://github.com/alexandrevicenzi/Flex/wiki/Code-Highlight) about how to add new code highlight styles. Can you write more detailed? Thank you very much.

[2016-11-25 16:06] alexandrevicenzi commented on #65
You want to change the default highlight of your theme or you want to create a new style?

If you want to create a new style read the docs of Pygments project to understand how styles are created, this is not a part of Flex.

If you want to change to another style just add this to your pelican conf file:

`PYGMENTS_STYLE = 'monokai'` # or any other style.

[2016-11-25 16:06] #65 closed

[2016-11-29 04:01] dazajuandaniel commented on #64
Thank you, it did the trick!

[2016-12-12 11:10] okelet opened #67 "gettext is undefined"
I am trying the new theme, with translations, but I can not get it to work; I get this error:

[code]

This is the relevant configuration:

[code]

Also I have generated a custom translation with the commands in the wiki:

[code]

[2016-12-12 11:19] alexandrevicenzi commented on #67
Hi @okelet,

There's no translation to `es` yet. You requested to translate on Transifex, it's the better way to translate.

If you're trying to use the theme and you get this error you have 2 options.

- If you're using Windows, you just have the option to cry, I think there isn't gettext for Windows
- If you're on Linux/Unix or OS X you will need to install gettext. Just type on google how to in

[2016-12-12 11:23] okelet commented on #67
Thanks @alexandrevicenzi, while the translation is not accepted and committed, I have done it locally. Gettext is already installed; these are the packages installed and versions (defaults for Ubuntu 16.04):

[code]

[2016-12-12 11:30] alexandrevicenzi commented on #67
So, is there any change that your version of jinja2 is broken?

`jinja2.exceptions.UndefinedError: 'gettext' is undefined`

The theme has nothing related. The theme just use the jinja2 extension.

Oh, I see something. Looks like you're using the versions from your S.O. Maybe you could use from PiPy.

You could use `virtualenv` to test.

[2016-12-12 12:41] okelet commented on #67
Can't get it to work... Same error in the virtualenv:

[code]

I'll try using a VM and a new OS installation...

[2016-12-12 12:55] alexandrevicenzi commented on #67
Well, try py3. I may work or not.

[2016-12-13 15:28] okelet commented on #67
Ok, it's all about the `feed_summary` plugin (if I disable it, everything works fine). I'll have to review it to catch the error...

[2016-12-13 15:28] #67 closed

[2016-12-13 16:05] alexandrevicenzi commented on #67
*Muy bueno*. You can open an issue to the project and maybe submit a PR.

So, you finished the translation to Spanish. Would you mind to send a PR?

[2016-12-13 16:09] okelet commented on #67
I made the translation using Transifex... Is it sync'ed with Github? Or have I to download the translated, file, fork, and create a PR?

[2016-12-13 16:12] alexandrevicenzi commented on #67
Yep, you need to send a PR, it's not synced. But I can do it later too.

[2016-12-13 16:22] okelet commented on #67
Done!

[2016-12-19 08:52] richyvk opened #70 "Question about changing css"
Hi

Could you help me out. I'm trying to edit your theme a bit - for example removing the lowercase text-transform for the sidebar items. I've removed it from the less and css files, then reinstalled the theme, but it doesn't seem to stop it happening.

How should I edit the css if not via the less or the minified css. I'm a newb on less and css and hwo they might work together.

Thanks

[2016-12-19 10:59] alexandrevicenzi commented on #70
Hi,

If you change the LESS and compile it to CSS it should work. You just need to use your custom theme (set on pelican conf the right theme).

You can try enable `USE_LESS` to use LESS instead of CSS. This is a good way to know if the minified CSS isn't compiling.

You could also use `CUSTOM_CSS` setting to add your custom stuff.

[2016-12-19 20:43] richyvk commented on #70
Awesome, thanks!

[2016-12-19 23:03] #70 closed

[2017-01-04 15:45] JesusMtnez opened #72 "GitLab Social Icon"
Hello,

I'm currently starting my own blog using Pelican and your __awesome__ theme :+1: :tada: .

I've been playing with social icons so far, and I have realized that there is no support for GitLab icon, as there is for GitHub.

I think it would be easy to include an orange background with the [FontAwesome GitLab Icon](http://fontawesome.io/icon/gitlab/), like the following image:

![gitlab-icon-

[2017-01-04 16:03] alexandrevicenzi commented on #72
Hello @JesusMtnez, there's no icon on Flex for GitLab as you can see.

To add it's very easy, just add to LESS file and compile it.

GitLab has many colors as you can see [here](https://about.gitlab.com/press/) not sure which one is the best.

[2017-01-04 16:08] JesusMtnez commented on #72
Hello @alexandrevicenzi, thank you for the advise. I hope this week I could make an easy PR with this change.

Again, thank you for your awesome work with this theme.

[2017-01-04 16:10] alexandrevicenzi commented on #72
If you don't have time I can change it. It's easy, but I'm not sure when I'll do it.

[2017-01-08 21:10] JesusMtnez opened #73 "Spanish translation"
It would be great to have spanish (from Spain). If you want, I could help you with it (I'm spanish).

[2017-01-09 09:24] ncharlot opened #74 "Unable to get fr translations"
Hi!

We're launching a blog in french only.
After many tries, can't get translations. Still "Posted on..." rather than "Posté le ...".

This is the conf:
[code]

Do we really need `i18n_subsites` module?

Thanks for your help.

[2017-01-09 11:31] alexandrevicenzi commented on #74
Hi

# Default theme language.
# You can't change this one.
I18N_TEMPLATES_LANG = 'en'

# Your language.
DEFAULT_LANG = 'de'
OG_LOCALE = 'de_DE'
LOCALE = 'de_DE'

[2017-01-09 11:34] ncharlot commented on #74
Thx @alexandrevicenzi.

I did already try that but it's not working better...
Any idea?

This this the actual conf:
[code]

[2017-01-09 11:38] okelet commented on #73
This is already done (https://github.com/alexandrevicenzi/Flex/tree/master/translations/es_ES/LC_MESSAGES)...

[2017-01-09 11:39] alexandrevicenzi commented on #74
Try with German, Spanish or any other.

If none works is some Pelican misconfig. If not, it's a problem with the french translation.

[2017-01-09 11:48] JesusMtnez commented on #73
@okelet Thank you! Even I have set my settings to use es_ES, it didn't seem to work. I'll give it a new try later.

[2017-01-09 11:53] okelet commented on #73
I have this is my configuration, working OK:

[code]

[2017-01-09 12:05] JesusMtnez commented on #73
Thank you! I'll try it later :smiley:

[2017-01-09 13:24] JesusMtnez commented on #73
@okelet @alexandrevicenzi I'm trying, but it doesn't work. Here are my configuration files:

[code]

Any help is welcome :sos:

[2017-01-09 13:29] alexandrevicenzi commented on #73
@JesusMtnez you're not the only one complaining about this bug. It must be something on Pelican or i18n_subsites plugin due to recent Pelican changes.

Maybe if you try to use an older version of Pelican it should work. Try the 3.6.x and not the 3.7.

[2017-01-09 13:38] JesusMtnez commented on #73
@okelet @alexandrevicenzi I have tried with pelican 3.6.3 and it works like charm! Maybe we should open an issue en pelican or pelican-plugins repositories?

[2017-01-09 13:39] ncharlot commented on #74
So it seems to be a Pelican misconfig :(

[2017-01-09 13:39] JesusMtnez commented on #74
In #73 I report a similar problem. Using pelican 3.6.3 it works.

[2017-01-09 13:41] JesusMtnez commented on #74
@ncharlot what version are you using?

[2017-01-09 13:42] okelet commented on #73
Yes, I forgot to say that I don't use the last Pelican version, but the previous. I also had lot of problems with the last version of Pelican.

[2017-01-09 13:49] ncharlot commented on #74
[code]

[2017-01-09 13:50] JesusMtnez commented on #74
Try 3.6.3

[2017-01-09 13:56] ncharlot commented on #74
Downgrade to 3.6.3 causes this error:
[code]

[2017-01-09 13:57] JesusMtnez commented on #74
Replace
[code]
with
[code]

[2017-01-09 14:00] ncharlot commented on #74
It's ok!

So it was a regression.

[2017-01-09 15:57] alexandrevicenzi commented on #74
Actually it's a Flex bug, due the version 3.7.

[2017-01-09 15:59] alexandrevicenzi commented on #74
Due the change in Pelican 3.7:

Old way

```JINJA_EXTENSIONS = ['jinja2.ext.i18n']```

New way

```JINJA_ENVIRONMENT = {'extensions': ['jinja2.ext.i18n']}```

[This code](https://github.com/alexandrevicenzi/Flex/blob/master/templates/base.html#L1) breaks.

The solution is change the way we validade if i18n is enabled.

[2017-01-09 16:00] ncharlot commented on #74
Ok I can look at the fix.

[2017-01-09 16:01] alexandrevicenzi commented on #74
@ncharlot remember, It must work with 3.6 and 3.7, so we just need to add an `OR` statement.

[2017-01-09 16:04] ncharlot commented on #74
Ok.

[2017-01-09 17:03] ncharlot commented on #74
PR: https://github.com/alexandrevicenzi/Flex/pull/75

[2017-01-11 07:32] JesusMtnez commented on #73
This issue is duplicated in #74

[2017-01-11 07:32] #73 closed

[2017-01-11 23:34] alexandrevicenzi commented on #74
Fixed by #75

[2017-01-11 23:34] #74 closed

[2017-01-11 23:39] #72 closed

[2017-01-11 23:41] alexandrevicenzi commented on #72
@JesusMtnez I added the yellow color for GitLab, the orange is similar to RSS color, so it's better to use a new one.

[2017-01-12 08:50] JesusMtnez commented on #72
@alexandrevicenzi Thank you! Updating my blog right now

[2017-01-13 12:18] alexandrevicenzi opened #76 "Add new translations"
There are some new translation to be included.

https://www.transifex.com/alexandrevicenzi/flex-pelican/languages/

[2017-01-13 18:32] Kentoseth opened #77 "Strange display of URL for articles"
Here is what I have in pelicanconf.py :

[code]

The issue is that articles then render as:

The pelican docs use this example and show a different rendering of the URL. Is this an issue with the theme?

The rendering I'd like, as my old blog had, is:

[2017-01-13 18:34] alexandrevicenzi commented on #77
@Kentoseth What url do you expect? This is how Flex generate URLs.

[2017-01-13 18:37] Kentoseth commented on #77
@alexandrevicenzi

Apologies for not specifying that in the original post, but I edited my original (I assume as you responded) and would like the URLs to appear as:

(ideally, removing the duplication)

[2017-01-13 18:39] alexandrevicenzi commented on #77
The `#` doesn't mean nothing, it's just to place the page in the right position.

Remove it and try to use on mobile, it will show the menu first, this skip the menu and go right to the text that the user want.

[2017-01-13 18:42] Kentoseth commented on #77
How do I remove the # appearing entirely?

I see this in index.html:

[code]

Do I edit/remove: `#{{ article.slug }}` ?

[2017-01-13 18:43] alexandrevicenzi commented on #77
Yep, just remove it.

[2017-01-13 18:50] Kentoseth commented on #77
Thank you, that fixed it.

For future reference and for anyone else wanting to achieve the same thing, please edit the following files:

- index.html

- base.html

Thanks @alexandrevicenzi

[2017-01-13 18:50] #77 closed

[2017-01-13 18:54] alexandrevicenzi commented on #77
I did this for a reason, I'll not remove. That's why people fork Flex.

I may one day, if someone else complain about this, add a config to remove this.

[2017-01-13 19:15] Kentoseth commented on #77
@alexandrevicenzi maybe you misunderstood me, I don't want you to remove it :)

I am just adding information to this issue for anyone else that wants to achieve something similar.

[2017-01-13 19:17] alexandrevicenzi commented on #77
Oh. I got it. :)

If someone complain about this again I maybe add a config. it's better.
But 'til now I don't remember if someone asked the same thing.

[2017-02-04 16:06] gutomaia opened #80 "Uses Schema.org's Blog for Rich Snippets"
I think that using microformats provided by schema.org would improve indexing at google. Allowing google better understand the content of the site. As a tradeoff, google give us back a rich snippet feature.

http://schema.org/Blog
https://search.google.com/structured-data/testing-tool/u/0/
https://www.youtube.com/watch?v=A-kX0Aut-18
https://www.youtube.com/watch?v=TvigPUtUH-0

[2017-02-04 16:09] gutomaia opened #81 "Image Post"
Usually, posts have a main image. I know it's not a standard in pelican. Although, I thought It would be nice to be able to have a image for each post as a attribute in the header of the post.

[2017-02-14 00:51] alexandrevicenzi commented on #81
There's "Cover" metadata that is used for Open Graph, you could change the theme to use the same image to use as a post image.

This should be configurable somewhere, so we don't break anything.

[2017-02-14 00:54] alexandrevicenzi commented on #80
@gutomaia Flex uses JSON-LD to provide better info for Google as you can see [here](https://github.com/alexandrevicenzi/Flex/blob/master/templates/partial/jsonld_article.html).

I think microformats are a mess because they add extra tags to HTML. JSON-LD is more human readable.

[2017-02-14 00:55] #80 closed

[2017-02-17 12:07] geotheory opened #84 "Display authors in posts and front page"
Thanks for an awesome theme, Alex.  Small issue - there doesn't appear to be any setting to specify the authors of posts in the main feed, or even in the posts themselves.  Is this deliberate?

[2017-02-17 12:19] alexandrevicenzi commented on #84
I think there's no code for this.

We could add a setting `SHOW_POST_AUTHOR` and show somewhere near post date.

[2017-02-17 13:51] geotheory commented on #84
That would be most welcome, thanks Alex

[2017-02-17 13:52] alexandrevicenzi commented on #84
@geotheory I don't have time to do this soon. If you could send a PR I appreciate.

[2017-02-18 08:01] radoeka opened #86 "Site not translated (with master of 18 febr 2017)"
When adding this change
  https://github.com/ncharlot/Flex/commit/389b3f42fa5fea2ab34ec9698be534fe196dff93
to base.html, the following error is given:

CRITICAL: UndefinedError: 'gettext' is undefined

The problem seems to be known and is discussed in
  https://github.com/getpelican/pelican-themes/issues/460#issuecomment-269821765

Appearantly subsites_i18n is required, or a better solution would

[2017-02-18 08:21] radoeka commented on #86
I installed flex master, the error is now not seen, but the site does not get translated.

Current configuration:
JINJA_ENVIRONMENT = {'extensions': ['jinja2.ext.i18n']}
DEFAULT_LANG = 'de'
OG_LOCALE = 'nl_NL'
LOCALE = 'nl_NL'

[2017-02-18 08:59] radoeka commented on #86
after installing the plugin i18n_subsite, the error vanishes and the site gets translated :)

[2017-02-20 12:03] alexandrevicenzi commented on #86
Yes, **subsites_i18n** is required. You can create a new plugin that does the same thing, but there's no way of Flex having any python functions to solve this.

[2017-02-20 12:04] #86 closed

[2017-02-23 04:07] HatuneMiku opened #87 "HOME button dose not work"
The HOME button on the top MENUITEMS not work and HTML element shows:
[code]

If i add a MENUITEM use link "/", and the element shows:
[code]
and it works just like a real HOME button. how can i fix the defult HOME button?
Thanks.

[2017-02-23 04:56] HatuneMiku commented on #87
sorry, i find my SITEURL is "", um, fix it by change SITEURL to my gitpage

[2017-02-23 04:56] #87 closed

[2017-02-23 09:24] dmytrolitvinov commented on #77
@alexandrevicenzi Hi. I have the same trouble. Do you plan to make config to remove this?

[2017-02-23 12:11] alexandrevicenzi commented on #77
@dmytrolitvinov No, but if you want a config you can send a PR.

[2017-02-23 23:27] alexandrevicenzi opened #90 "Add AddThis Related Post"
We just need to add this code:

`<div class="addthis_relatedposts_inline">`

[2017-02-26 09:12] olipratt opened #91 "Pagination button don't display with the same height"
Hi,

First off - thanks for making this great theme and sharing it!

Small issue - I noticed that the pagination buttons don't quite display in a matching way in my browser - their heights aren't equal which looks wrong because they are vertically aligned. Here's a screenshot from `index2.html` in the tests:
![before_fix](https://cloud.githubusercontent.com/assets/18227628/23338357/afa71720-fc00-1

[2017-03-01 05:21] Jorge-S opened #93 "Markdown paragraph symbol visible in preview page"
I'm not sure if this an issue on my end as I am new to pelican in general, but when on the home page the markdown paragraph symbol is visible at all times (should only be visible on hover over). This Markdown text comes from a Jupyter notebook using the ipynb plugin.

![image](https://cloud.githubusercontent.com/assets/25993638/23446715/6aeb47f2-fe0b-11e6-97aa-bc2f729f48bf.png)

However when I am

[2017-03-02 12:17] alexandrevicenzi commented on #93
I have no idea why this happens. Maybe a plugin, maybe some invisible char on your text.

You could try to change the theme and see if happens. You could use another tool to write your content, as VIM, Atom, Sublime or any other.

[2017-03-02 20:15] olipratt opened #95 "Hidden pages get the same value for the `robots` meta tag as non-hidden pages"
Hi @alexandrevicenzi ,

Thanks for taking the time to review and accept my last request.

This is more of an enhancement request - Flex users won't want [hidden pages](http://docs.getpelican.com/en/latest/content.html?highlight=hidden#pages) to be indexed by search engines, so this issue proposes a new `ROBOTS_HIDDEN` config option to set the value of the `robots` meta tag to a different value on

[2017-03-02 20:49] olipratt opened #97 "Add 'neighbors' plugin support"
Hi,

I've been looking at adding support for the [neighbors](https://github.com/getpelican/pelican-plugins/tree/master/neighbors) plugin to Flex, so I can get previous/next post buttons on articles.

If you're happy to accept that (and it won't change anything if you don't enable the plugin) I'll probably submit a PR around the weekend, but the interesting thing is that I think it will add new tex

[2017-03-02 21:00] alexandrevicenzi commented on #97
@olipratt feel free to send a PR.

[2017-03-02 21:42] alexandrevicenzi commented on #95
Well, 'til I know, hidden pages aren't linked anywhere, so how would google find this hidden page if it's not linked in any page neither in the sitemap.xml?

I'm just curious because if google can't find the page there's no need to remove the robots tag.

[2017-03-02 22:53] olipratt commented on #95
Hmm - the main use case I had was that you are happy to link the page from elsewhere (e.g. say I link the page here to share some mildly private information) and the indexer would follow that link to find the page, but you still don't want the contents of the page indexed (so you don't want people to find the page by searching for a phrase in the page).

I'm actually not so sure that's going to be

[2017-03-03 00:24] alexandrevicenzi commented on #95
I saw your PR. What I would do is, `if hidden_page then robots = noindex, nofollow`

If is hidden we can assume that the user doesn't want to allow bots to scrap this page.

[2017-03-04 12:59] olipratt commented on #95
Sounds like a good plan - it removes the extra config option and makes the change simpler and clearer. It changes existing behaviour which is why I went for the new config option initially, but the new behaviour should be what people would expect and won't actively break anything if you are happy with that.

I updated the pull request and retested the change.

[2017-03-10 00:44] alexandrevicenzi commented on #95
Fixed by #96 .

[2017-03-10 00:44] #95 closed

[2017-03-10 00:45] #91 closed

[2017-03-10 00:45] alexandrevicenzi commented on #93
@Jorge-S Have you found a solution?

[2017-03-10 00:47] Jorge-S commented on #93
I haven't had a chance to take a look, been out of town. I'm hoping to take a crack at it soon. I'll post what I find.

[2017-03-12 18:38] Jorge-S commented on #93
So I ran a different theme and it still shows up. I'm thinking that it has something to do with how Markdown displays headers? Still looking more into it but it's not your theme that's causing it.

[2017-03-12 19:12] alexandrevicenzi commented on #93
- Are you on Windows or Linux?
- What browser do you use? Maybe it's a browser plugin
- What plugins do you have on Pelican?
- What text editor do you use?

Ask this questions to yourself, maybe it helps.

[2017-03-13 00:28] ix5 commented on #93
To generate the article summary all html/css tags are being stripped. The ipython-specific inlined stylesheet is thus not being included when only `article.summary` is being shown, e.g. in the `<meta>description` and preview snippet you posted here.

You could either strip the paragraph sign(`¶`) manually, put a `display: none` directive for `a.anchor-link` in your main stylesheet, or just not inc

[2017-03-13 01:29] Jorge-S commented on #93
Thanks @ix5 I appreciate the explanation. I want to try and "fix" it by adding the display: none directive but I am having trouble finding the a.anchor-link section in the theme. [Newbie question] Would you or @alexandrevicenzi be able to help point me in the right direction? There doesn't seem to be a main stylesheet that I can find.

And to your point ix5, the second header being a duplicate was

[2017-03-13 03:34] ix5 commented on #93
[code]
Just put this into `style.css`.
The stylesheets are in the [`/static/stylehseet`](https://github.com/alexandrevicenzi/Flex/tree/master/static/stylesheet) folder.

Or into `style.less` if you use less-css and re-compile.

[2017-03-13 04:26] Jorge-S commented on #93
@ix5 I added that line into the top of the style.css file located here:
![image](https://cloud.githubusercontent.com/assets/25993638/23841416/0ff0ae04-077b-11e7-9742-d93834f1efa8.png)

as seen below. Yet the paragraph marking is still visible in the article summary view.
![image](https://cloud.githubusercontent.com/assets/25993638/23841395/f4bb41c6-077a-11e7-9fe0-e54eba6d2656.png)

Any thoughts?

[2017-03-13 04:41] Jorge-S commented on #93
Sorry, it worked. The page took longer than expected to refresh. Thank you again both you.

[2017-03-13 04:41] #93 closed

[2017-03-14 03:40] #76 closed

[2017-03-14 04:09] #81 closed

[2017-03-14 04:17] #90 closed

[2017-03-17 02:27] chenjiandongx opened #99 "markdown-css"
Hi,I have been using your theme for blog,too.I prefer writing with markdown.
And how can I replace default markdown-css with github-markdown-css.

Do guys have a idea?

[2017-03-19 21:53] rullmann opened #101 "introduce option to add favicons for different browsers and apps"
We may want to use different favicons for different browsers and apps.
One way to generate those is the [favicion Generator by DeGraeve](http://www.degraeve.com/favicon/).

https://github.com/rullmann/pelican-theme-flex/pull/2/commits/7474daf51f110f8e58a4c96258ba5de3297f4590

Maybe you'd like to cherry pick my commit to introduce this feature?

[2017-03-19 21:59] rullmann opened #103 "support BROWSER_COLOR with Microsoft Edge on Windows 10"
Add support for BROWSER_COLOR with Microsioft Edge on Windows 10.

My commit must be cherry picked to do so:
https://github.com/rullmann/pelican-theme-flex/commit/a5b8218163d4d1be974495d94a8c810994b0f528

[2017-03-19 22:59] rullmann opened #104 "implement CSP metadata in base.html"
As per Mozilla Observatory the [CSP Header](https://wiki.mozilla.org/Security/Guidelines/Web_Security#Content_Security_Policy) should be implemented. As this is a huge goal for the standard Pelican user we should at least implement it as metadata tag to prevent browsers from unloading unsafe scripts.

You may want to cherry pick my commit:
https://github.com/rullmann/pelican-theme-flex/commit/bcd1

[2017-03-20 11:55] alexandrevicenzi commented on #104
Adding this you can break someone else's theme based on Flex.

I don't see any use is this for a static blog generator.

[2017-03-27 19:39] AmirMahmood opened #106 "Add subcategory support with 'subcategory' plugin"
Hi,

First sorry for my bad English and thanks for this awesome theme @alexandrevicenzi.
I found [subcategory](https://github.com/getpelican/pelican-plugins/tree/master/subcategory) plugin that can adds support for subcategories in addition to article categories.
I think it's can be very useful for all users to have for example breadcrumb-style navigation to choose category or subcategories.

[2017-03-29 19:01] alexandrevicenzi commented on #99
Could you explain in a better way the problem?

Do you want to change the CSS coding style of your snippets or do you want GitHub flavored markdown support on Pelican?

[2017-03-29 19:05] #104 closed

[2017-03-29 19:06] alexandrevicenzi commented on #104
If you think this would have a real value to someone else, please, reopen this issue.

[2017-03-29 19:07] alexandrevicenzi commented on #106
Flex has enough plugins support, I don't see any good in this plugin.

[2017-03-29 19:07] #106 closed

[2017-03-30 01:34] peijunz opened #107 "The height of btn is too low for summary"
In the file https://github.com/alexandrevicenzi/Flex/blob/master/static/stylesheet/style.less#L267
[code]

The problem is that although there is a `padding: .6em .6em;`, the height of the button is only `line-height: 1;`.  Taking padding into consideration, the height of `btn` should be at least `0.6*2+0.8=2em`. As a hack, change it to 3 will make it looks better.

Normally, there will be a `<br>`

[2017-03-30 02:02] peijunz commented on #107
I found this may be a bug of my blog. Thank you!

[2017-03-30 02:02] #107 closed

[2017-03-30 04:35] chenjiandongx commented on #99
The latter,but I recently found that the dafault flavored was not bad.So I decide not do change it.Thanks your response. :D

[2017-03-30 04:35] #99 closed

[2017-03-30 20:28] peijunz opened #108 "Issue of <pre><code>"
At [style.less line 204](https://github.com/alexandrevicenzi/Flex/blob/master/static/stylesheet/style.less#L204)

If there is
[code]
in html, then the behavior is weird: There will be a preformatted box as well as a frame near the code. Unfortunately, for many html(e.g. generated from pandoc), this kind of tags combination will appear.

A solution is exclude this condition by small modification at

[2017-03-30 20:44] alexandrevicenzi commented on #108
So, are you writing HTML on your markdown file? If someone uses pure markdown this will never happen. If you mix things you can get weird behaviors.

It won't break anyone if these others only use pure MD. Well, this is a fix that could be done, even if breaks someone else :thinking:

[2017-03-30 21:15] peijunz commented on #108
Well, I am writing a [jupyter notebook plugin](https://github.com/peijunz/ipynb2pelican) for pelican. It is using the html output of nbconvert, which converts [ipynb](http://jupyter-notebook.readthedocs.io/en/latest/) to other formats.

From the [markdown_mistune.py](https://github.com/jupyter/nbconvert/blob/master/nbconvert/filters/markdown_mistune.py#L98) of nbconvert project, it is using `<pre>

[2017-04-01 21:05] peijunz opened #109 "Unescaped Characters in Summary Metadata"
## Occurance of bug
I wrote an article [here](https://raw.githubusercontent.com/peijunz/peijunz.github.io/src/content/Computer/intncpp.md), but the summary seems to be misbehaved. The generated html is broken:
[code]

Metadata is also leaked into `<body>`, which results in observable effect at the top of the web page.
[code]

## Mini Example
If the article is
[code]

Then in the generated html, th

[2017-04-01 21:29] peijunz commented on #109
## Possible solution
In another theme template [article.html](https://github.com/getpelican/pelican-themes/blob/master/pelican-bootstrap3/templates/article.html#L14)

There is another `escape` filter after the `striptags` filter. After applying this to both `article.html`  and `partial/og_article.html`, the problem is fixed.

[2017-04-03 12:20] alexandrevicenzi commented on #109
Why is the article content in the meta tag?

The `escape` filter is missing, adding it fix the problem.

[2017-04-17 18:29] markolsonse opened #112 "Should this div tag be closed in the article.html file"
Lines 68-70

[code]

[2017-04-18 12:26] #112 closed

[2017-04-22 06:36] alexandrevicenzi commented on #109
Fixed

[2017-04-22 06:36] #109 closed

[2017-04-22 06:37] alexandrevicenzi commented on #103
Fixed

[2017-04-22 06:37] #103 closed

[2017-04-22 23:36] #97 closed

[2017-04-26 08:40] archeranimesh commented on #49
If your planing to integrate tipue_search, kindly read through this.

http://moparx.com/2014/04/adding-search-capabilities-within-your-pelican-powered-site-using-tipue-search/

[2017-05-07 14:50] anjos opened #114 "Theme does not honour `DISPLAY_PAGES_ON_MENU = False`"
Know this is optional as stated at http://docs.getpelican.com/en/3.7.1/settings.html#basic-settings, but supporting the pelican option would be fairly trivial here and would make it more flexible.

[2017-05-13 15:57] Phyks opened #117 "Mixing French and English translations on the same page"
Hi,

I am posting on my blog sometimes in French and sometimes in English (so, there are posts in each language, but one post is never in both languages). My typical homepage looks like

First post (English)
Second post (French)
Third post (English)
etc.

For now, the Flex templates are in English, which is the default language. So below each title, I have "Posted on [english date] in [category]".

[2017-05-13 15:59] Phyks commented on #74
Trying `master` with Pelican 3.7.1 and Jinja2 up to date, gives a `CRITICAL: UndefinedError: 'gettext' is undefined` error, when trying to use [this snippet](https://github.com/alexandrevicenzi/Flex/issues/74#issuecomment-271263179) in combination with `JINJA_ENVIRONMENT = {'extensions': ['jinja2.ext.i18n']}`.

[2017-05-13 16:04] Phyks opened #118 "External resources loaded"
Hi,

Most of the required resources for this theme are provided, which is really nice! However, I can see two queries being made:

1. One to https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic for the "Source Sans Pro" font. However, FontAwesome is already included and served locally, why not doing the same for this one and removing a call to googleapis?
2. Same for https

[2017-05-13 16:51] Phyks opened #119 "Incomplete generated Pygments CSS files"
Hi,

Not sure if this is Flex's fault or Pygment's, but the generated CSS file are missing a lot of definitions. Typically, using `Monokai` theme, the `Text` elements are not dumped in the minified CSS files. Then, the text is rendered in black, which is not really readable (while it should be white). I guess this is because `Text` Pygments element does not have a defined class.

Also, when a valu

[2017-05-13 18:20] alkhimey opened #120 "Align Images to Center with reStructuredText"
The following snippet

    .. image:: xyz.png
       :align: center

Will emit the following html:

    <img class="align-center" src="xyz.png">

And the visual result will be an image aligned to the left.

The cause of the problem is that the ```align-center``` class does not exists in ```static/stylesheet/style.less```, only the ```img-center``` class exists.

The style of this class should be s

[2017-05-15 12:13] alexandrevicenzi commented on #120
You can use gulp to minify or leave it to me.

[2017-05-15 12:17] alexandrevicenzi commented on #118
1. Google Fonts is your friend: https://developers.google.com/fonts/faq
2. Don't know, I guess I didn't want to download all image licenses.

[2017-05-15 12:19] alexandrevicenzi commented on #117
Pelican doesn't support this well unless you use a plugin called subsites.

Take a loon in the [docs](https://github.com/alexandrevicenzi/Flex/wiki/Supporting-multiple-translations-%28subsites%29).

[2017-05-15 12:19] #117 closed

[2017-05-15 12:30] alexandrevicenzi commented on #74
@Phyks what OS?

[2017-05-15 13:15] Phyks commented on #74
I am using Linux.

[2017-05-15 13:17] Phyks commented on #118
1. Yes, still I do not want any of my readers to be forced to download content from Google fonts, that I could host myself. Maybe some setting could be used to trigger one behavior or the other?
2. As far as I can see, the only handled image is CC in the template.

[2017-05-15 13:25] alexandrevicenzi commented on #118
1. Will you use Disqus? AdSense? GA? I don't see any reason to stop using Google Fonts.
2. Yes, it's only CC, but there are a lot of versions, so I guess it would be 16 (or more) extra images in this theme.

[2017-05-15 17:14] alkhimey commented on #120
My question is which tool do you use to minify the CSS?

If I try to use a different tool and commit the result, the minified version might be uncomparable, and there is no way to tell if the other minification method broke something or not.

[2017-05-15 17:20] alexandrevicenzi commented on #120
I use [gulp](http://gulpjs.com/), as I said it before.

You can run `npm install` to install all dependencies and after run `gulp less` to generate the CSS.

As I said, it's better to leave it to me if you don't know how to do this. One day I may add to the wiki 😺 so it would be easy for those who want to change the LESS file.

[2017-05-16 02:25] peijunz opened #122 "Show ¶ only on hover?"
Currently, there is a ¶ following every heading. It really provides a good way to get the link of a heading, but I think it is a bit distracting.

A way to solve the issue is showing the anchor "¶" only when hovered. In this way, if you are copying the text, ¶ will not be copied. As an example, the [official python tutorial website](https://docs.python.org/3/tutorial/interpreter.html) is showing a

[2017-05-16 06:14] Phyks commented on #118
1. Nope, I don't use any of these services. I just want to use Flex and Pelican for a dead simple static blog, that is no metrics, no comments, just the HTML files.
2. Ok, would you like a PR going in this direction?

[2017-05-17 20:22] alexandrevicenzi commented on #118
1. We can include the font if Google allows it.
2. It could be done.

[2017-05-17 20:26] alexandrevicenzi commented on #122
I wouldn't like this on my personal blog, but it could be done using some settings, the thing is, we already have a lot of settings.

[2017-05-17 20:31] alexandrevicenzi commented on #119
@Phyks I think it's a problem with Flex colors and Pygments colors. Pygments CSS aren't from Flex, I just use a tool to generate them.

We probably should fix this on Flex CSS, if there's a way, but it might break some other Pygments theme.

[2017-05-22 14:55] Phyks commented on #118
1. According to https://developers.google.com/fonts/faq there should not be any problem.
2. Ok, I'll try to write something.

[2017-05-22 14:59] Phyks commented on #119
When running `pygmentize -S monokai -f html > pygments.css`, I get more or less the same CSS file. It seems that `pygments` is not outputing the full CSS. :/

[2017-05-22 16:01] Phyks commented on #119
Ok, after some debugging, it is coming from Pygments and I opened an issue on their bug tracker: https://bitbucket.org/birkenfeld/pygments-main/issues/1350/no-output-of-text-color-in-style.

Not sure how I could workaround it easily in the mean time, in Flex?

Thanks!

[2017-05-22 16:30] alexandrevicenzi commented on #119
Just change the generated CSS file on Flex theme, no one changes that file, so it won't be a problem I think.

[2017-06-02 19:54] Phyks commented on #118
Everything is included in https://github.com/alexandrevicenzi/Flex/pull/123.

[2017-06-08 13:53] flurischt opened #129 "Strange hardcoded url in partial/piwik.html"
I believe the hardcoded url here: https://github.com/alexandrevicenzi/Flex/blob/5bc235cf579cb03bcc8f54b6029ff74493a0cb44/templates/partial/piwik.html#L14 should also use {{ PIWIK_URL }} instead of using bnjbvr.alwaysdata.net for the <noscript> tracking image.

[2017-06-08 13:55] flurischt commented on #129
Sorry, seems like I was in some strange commit and not on master branch. Closing since this is fixed.

[2017-06-08 13:55] #129 closed

[2017-07-12 13:32] fengdasuk19 commented on #87
I like this theme, including its color(I LOVE orange SO MUCH!), its code highlight style and the fonts:D But I'm afraid I encounter this problem too, and clicking the sitelogo leads to the same one, while everyting seems well when using the default theme ['notmyidea'](https://github.com/getpelican/pelican-themes/tree/master/notmyidea-cms). To just assign value for SITEURL will not solve this probl

[2017-07-12 14:03] fengdasuk19 commented on #87
And my trials  on the localhost and the remote server have both proved to be effective.

[2017-07-12 14:13] alexandrevicenzi commented on #87
@fengdasuk19 You say a lot of things but I can't understand what is the problem.

Where do you want HOME to go? HOME link references to `SITEURL` settings, if you set it properly it should work.

[2017-07-12 16:03] fengdasuk19 commented on #87
@alexandrevicenzi I want HOME to go to my home page. The problem is: when I click the HOME button in the MENUITEMS on the top of the page, it doesn't turn to any other page, only to stay in place. I set SITEURL as the value of my GitHub user page, and such setting will work only when I upload my whole site to the remote server, which I cannot debug on localhost.

[2017-07-12 16:11] alexandrevicenzi commented on #87
@fengdasuk19 What's your site? I would like to see the code and the hosted site if possible.

[2017-07-12 17:23] fengdasuk19 commented on #87
@alexandrevicenzi Well, now I find that if I want to debug my code on localhost, I just need to set the value of `SITEURL` as `http://localhost:8000` on which my localhost runs.

As for the **problem code**: I just used the very clean Pelican from pip, then installed Flex [based on official instructions](https://github.com/getpelican/pelican-themes). Then I changed something in `pelicanconf.py`: f

[2017-07-12 17:27] alexandrevicenzi commented on #87
For future discussion, I would recommend people to take a look at my personal blog code [here](https://github.com/alexandrevicenzi/blog).

I can easily run my blog locally to debug some stuff and publish it to GitHub pages or anywhere I want.

[2017-07-13 21:17] alkhimey commented on #120
@alexandrevicenzi see #120

[2017-07-13 21:22] alexandrevicenzi commented on #120
Done.

[2017-07-13 21:22] #120 closed

[2017-07-27 10:56] lam0r86 opened #131 "Modified Date time"
Hey, how can i change the modified Date time?
its shown as: Last Modified: 2017-07-27 00:00:00+02:00
in og.html and og_article.html i didnt fond a way to change it!
greetz

[2017-07-27 10:59] lam0r86 opened #132 "Folder Shown as pages"
Hey,
i've got a folder in content called setup.
This folder is full of setupfiles in with .md extesion.
Now i want to show a list in pages(could be same as archives) with all of these files in content/setup/*.md folder!

Pretty nice would be to get those files ignored by normal archive :)

Hope anybody could help me!
Ty for this nice Theme

Greetz

[2017-07-27 12:27] alexandrevicenzi commented on #131
Use Pelican metadata for this.

Title: Your Title Here
Date: 2016-07-25 08:00
Modified: 2016-07-25 08:00

[2017-07-27 12:27] #131 closed

[2017-07-27 12:30] alexandrevicenzi commented on #132
That's not a Flex bug.

If you want to hide some MD files use hidden metadata or find a way to do this with some Pelican settings.

[2017-07-27 12:30] #132 closed

[2017-08-03 04:58] drivelous opened #133 "Styling in /output/theme/stylesheet/styles.less reverts back after running 'make html'"
Hi there,

I'm trying to customize the style.less file. In `pelicanconf.py`, I have `USE_LESS=True` set. I can see the changes I make in `myblog/output/theme/stylesheet/style.less` (well, like 70% of the time) but it doesn't really matter because running `make html` reverts the file back to an older version.

I figured that it must be taking the style.less file from the path to the fresh Flex them

[2017-08-04 01:38] drivelous commented on #133
Closing this. I believe much of this confusion was that I was referring to my theme in settings as `THEME = 'Flex'`, which referred to an ambiguous version nested deeply in the virtualenv... I changed it to explicitly reference the Flex directory that I was making changes in and changes propagated quickly.

As for how to avoid using less in production, I used npm to globally install less and any t

[2017-08-04 01:38] #133 closed

[2017-08-10 07:59] oulenz opened #134 "Why avoid LESS on production?"
You write about `USE_LESS`

Could you explain why?

[2017-08-11 20:32] oulenz commented on #134
For future reference: I read some more about LESS, and the general principle is not to use it in production, because that requires users to run the LESS Javascript code.

[2017-08-11 20:32] #134 closed

[2017-08-18 18:22] sumnerevans opened #135 "Add support for Medium social link"
Currently, when a link to Medium is added, there is no background color:

![2017-08-18-12 21 39](https://user-images.githubusercontent.com/16734772/29472087-c5620ccc-840f-11e7-84e7-9af3c1a4af89.png)

I suggest that the background color `#00ab6b` be made the default background color for `a.sc-medium`. That color is the link color on medium.com. Here's what it looks like:

![2017-08-18-12 18 57](htt

[2017-08-30 12:57] alexandrevicenzi commented on #135
Can you send a PR?

[2017-09-05 18:57] #135 closed

[2017-09-17 05:58] rhyven opened #137 "Google Analytics tags are loaded in a deprecated place"
Hi Alexandre!

Google Analytics tags are now meant to be loaded in the <HEAD> tag [1].  I fixed this locally by moving the "if GOOGLE_ANALYTICS" lines in /templates/base.html.

[1] https://developers.google.com/analytics/devguides/collection/analyticsjs/

[2017-09-18 11:44] alexandrevicenzi commented on #137
Hi @rhyven, this is a known issue. You can send a PR if you like.

[2017-09-27 22:08] #137 closed

[2017-10-17 07:25] lapmid commented on #42
@alexandrevicenzi  i have to improve meta tags  ,am i right ??

[2017-10-17 11:26] alexandrevicenzi commented on #42
@lapmid yeah, if there's something to improve, not sure.

[2017-10-23 23:03] geekodour commented on #61
I'd like to add some tests, which are the features are you talking about?

[2017-10-26 11:10] vjdreamer commented on #61
.

[2017-10-26 11:18] alexandrevicenzi commented on #61
I have no idea, maybe just test the settings.

[2018-02-18 22:24] Wobak opened #143 "How to use # as a start of command in code blocks"
Hi,

Sorry this might not be a direct issue, but I'm trying to make sense of markdown and pelican :)

I love your theme and I have set it up on my page to start writing articles. My articles are mainly about Linux stuff, and most of the linux stuff I do needs root. So my examples are often in the following output :

[code]

Except that when I do that, using your theme, everything after the # is gr

[2018-02-20 16:13] alexandrevicenzi commented on #143
You need to specify what language your code is, please, refer to [pelican documentation](http://docs.getpelican.com/en/3.6.3/content.html#syntax-highlighting) for this.

[2018-02-20 16:13] #143 closed

[2018-02-20 16:14] #122 closed

[2018-02-20 23:05] Wobak commented on #143
Hi,

In that case, I tried to use ``` bash as a language code, but in there, # still starts a comment (which is the way in real life, but except for the command prompt), and therefore is still grey and italic, which doesn't really stand out.

What language pygment would you suggest to illustrate such ?

Thanks,
Thibaut

[2018-02-20 23:51] alexandrevicenzi commented on #143
Maybe PowerShell, check [this link](http://pygments.org/languages/) to see all languages supported.

[2018-05-09 20:47] Regrau opened #152 "Background color for bitbucket social icon is missing"

[2018-06-24 03:02] #119 closed

[2018-06-24 03:04] alexandrevicenzi commented on #119
@Phyks can you try with the latest code from master? I think it's fixed now.

[2018-06-24 03:11] #108 closed

[2018-06-24 03:11] alexandrevicenzi commented on #108
@peijunz This is now fixed.

[2018-06-24 03:40] alexandrevicenzi commented on #118
@Phyks  you can set `USE_GOOGLE_FONTS` to `False` if you don't want to load any Google fonts. If so, it will fallback to other fonts.

[2018-06-24 03:40] #118 closed

[2018-06-24 21:06] Phyks commented on #118
I'm not 100% sure but it seems `USE_GOOGLE_FONTS` discard the fonts and fallback to others, while it could simply use the same fonts and host them locally. That was the point of this issue (and MR).

[2018-07-03 08:36] pawelngei opened #154 "Upgrade Font Awesome and add Mastodon Social icon"
I'll gladly submit a PR with that if you're okay with upgrading FA to 5.1.0.

[2018-08-11 16:38] pzelnip commented on #154
@pawelngei I'd be interested in seeing what you've come up with.  I use a custom theme based on Flex, and I'd love to have FA 5, but my CSS skills are not up to snuff for figuring out what's involved in changing the theme to get it to work with FA 5.

[2018-08-11 17:02] pawelngei commented on #154
I already applied it for my own blog at https://alxd.org/ . There's a lot which can be done with CSS, but for starters I:
 - upgraded Font Awesome to the latest (messing the templates a little in the meantime)
 - increased the font size
 - added the Mastodon button
 - decreased the buttons' "jump"

I'll link to a proper fork on Github in a moment.

[2018-08-11 17:15] pawelngei commented on #154
Created https://github.com/alexandrevicenzi/Flex/pull/156 with the changes. They can be further optimized, but that's what I needed for myself.

[2018-08-19 11:26] NikolaiT opened #158 "Why collect data from your users?"
Why do collect data from your users in the file `Flex/templates/partial/piwik.html`?

[code]

[2018-09-26 20:40] alorence commented on #158
This has been addressed in #94.

See the file in mster branch: https://github.com/alexandrevicenzi/Flex/blob/master/templates/partial/piwik.html

[code]

[2018-10-06 13:30] alexandrevicenzi commented on #158
@NikolaiT update your Flex version to the latest one.

[2018-10-06 13:30] #158 closed

[2018-10-06 13:36] alexandrevicenzi commented on #154
@pawelngei FA 5 is a good idea. Sorry for the late reply.

[2018-10-07 08:28] rakshitsoral opened #159 "Site is not going live"
Hi,

I have tried my best to make rakshitsoral.github.io up and running. I have cloned pelican-themes and changes my `THEME` variable to "pelican-themes/Flex". Also, I changed `SITEURL` to `'https://rakshitsoral.github.io'`.

After comitting changes and trying to publish the site by using
[code]
I am still not able to publish the site to github pages. However, it's up and running in my http://loca

[2018-10-07 10:58] pawelngei commented on #159
Hey!

Did you follow https://fedoramagazine.org/make-github-pages-blog-with-pelican/ ? I can't see a repository containing the `output` on your profile. It's supposed to be a submodule of your `src` repository, as in:

Github pages need to find an `index.html` at the root of the repository named `rakshitsoral.github.io`, and your repo doesn't have one. Just clone it to a repo `rakshitsoral.github.

[2018-10-07 12:53] rakshitsoral commented on #159
Hi,

I followed this handy series pf blogs by pythonundergradforbeginners: https://pythonforundergradengineers.com/how-i-built-this-site-1.html

I must say, i had to refer some different sources as well as the one i mentioned doesn't seemed to work on my computer.

And the repo has index.html in the output folder rakshitsoral.github.io/output. Have you seen it?

[2018-10-07 17:49] pawelngei commented on #159
@rakshitsoral , your repo needs to have `index.html` in root (base folder). Try doing what the tutorial I linked says - and you'll see it will work.

[2018-10-08 21:11] alexandrevicenzi commented on #159
@rakshitsoral check [Pelican Blog](https://github.com/getpelican/pelican-blog) for a reference.

[2018-10-08 21:11] #159 closed

[2018-11-20 13:10] edmondchuc opened #162 "Social media icons broken"
Hi I am trying to use the social media icon for GitHub and it is not rendering correctly.

My `pelicanconf.py` file has:

[code]

Any idea?

[2018-11-26 11:09] bergpb opened #163 "Codehilite not working."
I try to use codehilite in markdown, but not work.
I try:
[code]
and
:::python
from datetime import datetime
But not work.
Can help me?

[2018-12-01 19:30] dmark commented on #162
Can you provide a screencap of what it looks like now?

[2018-12-02 01:03] edmondchuc commented on #162
Hi @dmark I'm not sure how to reproduce the error again. The link must have been broken or something at the time. It has fixed itself.

The broken icon looked something like  [this](https://imgur.com/a/Qp7DPsz).

[2018-12-03 05:47] pogoetic commented on #87
I'm having an issue with the home button as well but it seems different than the other folks issue. My issue is that even when `SITEURL` is set correctly, the `HOME` link at the top will change its path to whatever page you happen to be on. The blog is located here:  https://pogoetic.github.io/

I have tried a number of things but cannot seem to figure out the issue. Please help.

[2018-12-03 23:08] pogoetic opened #164 "Home button not working properly"
I'm having an issue with the home button. My issue is that even when `SITEURL` is set correctly, the `HOME` link at the top will change its path to whatever page you happen to be on. The blog is located here: https://pogoetic.github.io/

I have tried a number of things but cannot seem to figure out the issue. Please help.

_Originally posted by @pogoetic in https://github.com/alexandrevicenzi/Flex

[2018-12-04 09:32] alexandrevicenzi commented on #162
Font Awesome was updated, maybe it was cached somewhere and for a couple of minutes, it appeared to be broken.

[2018-12-04 09:32] #162 closed

[2018-12-04 09:33] alexandrevicenzi commented on #163
Are you using MD or RST files?

[2018-12-04 09:40] pawelngei commented on #154
Thanks for merging!

[2018-12-04 09:40] #154 closed

[2018-12-04 09:43] alexandrevicenzi commented on #164
Your SITE URL is not set.

https://github.com/pogoetic/pogoetic.github.io/blob/dev/publishconf.py#L13

[2018-12-04 09:43] #164 closed

[2018-12-04 15:14] pogoetic commented on #164
You are absolutely right. I did not realize the publishconf overwrote the pelicanconf. Thank you for pointing that out! Your template is great by the way!

[2019-01-01 22:31] rpatel3001 opened #167 "TemplateAssertionError after updating"
I started using the v2.2 (b3bd590) commit found in the pelican-themes repo. After upgrading to latest (f9bce8dd), I get the following trace with `pelican -vD content`. Resolved by rolling back 1 commit to fd296e57.

[code]

[2019-01-02 22:51] alexandrevicenzi commented on #167
@rpatel3001 I can't reproduce it. Also, what I have no idea of what versions of Pelican/Jinja2 you are using.

By this error, I can infer a possible place in the template that could be causing this, but since I can't reproduce I'm not 100% sure.

[2019-01-02 23:37] rpatel3001 commented on #167
Thanks for the quick response! Sorry for the lack of details, but the change seems to have fixed it. I am on Pelican 4.0.1 and Jinja2 2.8.

[2019-01-02 23:37] #167 closed

[2019-01-03 19:35] #114 closed

[2019-01-08 16:59] rpatel3001 commented on #84
PR #168 opened

[2019-01-13 23:50] #163 closed

[2019-01-13 23:50] #61 closed

[2019-01-14 01:32] rpatel3001 commented on #84
PR #168 closed. Breaks translation support and I don't use it so I'm not interested in continuing.

[2019-03-23 14:58] bergpb commented on #163
Im using MD, sorry for long time to answer.

[2019-03-24 10:29] ricekab opened #170 "Page sort order not well documented and differs from Pelican configuration"
## Context

By default, pages are ordered by name. When this is not wanted a custom sort order can be defined.

[Pelican documentation](http://docs.getpelican.com/en/3.6.3/settings.html#ordering-content) specifies `PAGE_ORDER_BY` as the default setting for this (since 3.6 I believe). Flex uses `PAGES_SORT_ATTRIBUTE` for this functionality. I also couldn't find this documented on the wiki.

## Prop

[2019-04-17 16:14] filipgeppert opened #175 "Add formspree (ability to collect emails) form on the sidebar"
Problem:
Ability to engage users through newsletter.

Possible solution:
Add [formsperee](https://formspree.io/) form for users to type their email.

Advantages:
- easy to implement (example of implementation [here](https://filipgeppert.com/))
- free

Disadvantages:
- form needs to be validated on every static site, so any time new post is submitted, form needs to be validated for this url. But ma

[2019-04-17 19:43] alexandrevicenzi commented on #175
@filipgeppert AddThis plugin does not solve this problem? They have a similar feature, never used, so I have no idea if it actually works with Flex.

[2019-04-18 05:49] mizunashi-mana opened #176 "Support rst code-block"
By https://github.com/alexandrevicenzi/Flex/pull/173#issue-270361400 .

Example project: https://github.com/mizunashi-mana/pelican-flex-example-for-issue173

[2019-04-18 07:07] filipgeppert commented on #175
@alexandrevicenzi Indeed, AddThis has this option, but it doesn't work when a user has ad blocker turned on.

[2019-04-18 08:09] alexandrevicenzi commented on #175
@filipgeppert but that's not Flex problem, even Google plugins will fail if AdBlock is enabled.

If you find an easier way to validate the form I would be OK with, but for now looks like it's too painful for someone to use this plugin.

[2019-04-18 09:50] giomasce opened #177 "Integration with pelican_comments"
Hi,

I have added basic integration with [pelican_comments](https://github.com/bstpierre/pelican-comments) in [my fork of Flex](https://github.com/giomasce/Flex/commit/ad0f985841875a2685dd9c0378c4b75c312df592). Would you consider it interesting to include it in the main release?

Thanks for the great theme, Giovanni.

[2019-04-18 11:43] alexandrevicenzi commented on #177
@giomasce could be done, the only problem is how to add new comments, looks like there's no standard way in this plugin.

I know that some people don't like Disqus, so an alternative would be good.

[2019-04-29 11:38] filipgeppert commented on #175
True, I will write to formspree and as if there is any workaround.

[2019-05-14 11:02] earl-e-bird opened #179 "Installation on SiteGround"
Hi all,
I was wondering if you could help me with the installation process on sites like SiteGround. This theme is not recognised by their proprietary theme builder (missing .css file) and needs a work around. I'm new to building websites but quickly realised that almost all of the free and suggested themes are increadibly restrictive. If you could help that would be absolutely amazing. Many thank

[2019-05-14 11:25] alexandrevicenzi commented on #179
@earl-e-bird Why use such service focused on Wordpress when you can host it for free on Git Hub Pages?

[2019-05-14 11:37] earl-e-bird commented on #179
I've never created a homepage in my life and am very new to all of this. Didn't know I could host my own homepage on Git Hub. Thank you for that idea Alexandre. I'll do some research on this but feel free to point me in the correct direction :) Much appreciated.

[2019-05-14 11:55] alexandrevicenzi commented on #179
You can probably start [here](https://pages.github.com/) and [here](http://docs.getpelican.com/en/3.6.3/tips.html#publishing-to-github).

[2019-05-14 11:55] #179 closed

[2019-06-03 17:52] turtlemonvh opened #180 "Allow custom js per post"
See, for example:

https://notabug.org/jorgesumle/pelican-js
https://github.com/mortada/pelican_javascript

A few options for doing this

1. Integrate one of these plugins directly (native support)
2. Set up flex so that you can extend certain sections of the base template with included templates (e.g. so the user can drop an `extra_js.html` to a certain path on disk and that gets injected into th

[2019-06-20 17:29] groverj3 opened #181 "Inconsistent Sidebar Size"
Hey there,

I've noticed a rather annoying little bug. It seems that the sidebar is sized slightly differently depending on what's in the main window. I thought this might've been because I forked the master branch, rather than one of the tagged releases, but switching to the most recent release didn't change anything. This is also apparent in several others' websites made with the Flex theme as w

[2019-06-20 18:16] alexandrevicenzi commented on #181
@groverj3 probably some CSS is off, something being miscalculated or getting some extra padding from somewhere.

If you know how to fix send a patch, otherwise it might take me a while to debug and find a solution.

[2019-06-20 18:24] systemexitzero commented on #181
You may be seeing the sidebar shrink ~20px whenever your pages have enough content to require a scrollbar. Does adding `main { overflow-y: scroll; }` to your `custom.css` stop the sidebar from jumping?

[2019-06-20 18:30] groverj3 commented on #181
Wow, sometimes it's the most obvious things...

That is probably exactly what's going on. When I get a spare moment I'll just this a shot.

[2019-06-21 03:29] groverj3 commented on #181
Just tried this. Forcing a scrollbar to be visible like that doesn't seem to work in Chrome on either linux or windows, but does work in Firefox.

[2019-06-21 04:25] groverj3 commented on #181
Out of curiosity, I switched the widths and heights to vw and vh units instead of %. This actually worked in combination with overflow-x: hidden. It makes sense that when a vertical scrollbar was needed it would now cause the need for horizontal scrolling.

[2019-06-25 07:29] #181 closed

[2019-06-25 09:19] alexandrevicenzi commented on #181
Fixed in #182.

[2019-07-12 10:59] NikolaiT commented on #177
I am also interested in this.

[2019-10-02 12:04] alexandrevicenzi commented on #180
@turtlemonvh It could be done, perhaps with the plugin, we already use some.

[2019-10-13 16:26] maenad commented on #101
Hey, I am trying to work on this, but it just keeps loading. Not sure why. Also, the link seems to be added already.

[2019-10-19 20:03] #176 closed

[2019-10-26 19:20] johanfleury opened #187 "Add support for admonitions"
Hey @alexandrevicenzi, thank you for Flex, it's a great theme.

I just found out it is lacking support for admonition and I thought I could make a PR. I know Flex is not under active development anymore but I think it's a great feature that's missing.

You probably have a stronger opinion than I do about how admonition should look in Flex so let's discuss it before creating a new PR.

Here is how

[2019-10-26 22:40] alexandrevicenzi commented on #187
@johanfleury I think that could be useful, feel free to send a PR.

I believe we only need extra CSS right?

[2019-10-27 03:52] johanfleury commented on #187
Yep that's right. I'll do the PR then :)

[2019-11-20 09:32] mholiv opened #190 "Example Site is Broken"
The https://flex.alxd.me/blog/ example site contains many links that point to resources on http://localhost:8000

To reproduce this:
1. Make sure no local server is running at http://localhost:8000
2. Goto https://flex.alxd.me/blog/
3. Click on "Contact"

What you expect:
To to the contact page hosted under flex.alxd.me

What actually happens:
You are sent to http://localhost:8000/pages/contact.ht

[2019-11-20 22:39] #190 closed

[2019-11-20 22:40] alexandrevicenzi commented on #190
Thanks, example is up and running again.

[2019-12-11 06:21] JackMcKew commented on #49
Hey, I've just forked this theme for my own website and integrated tipue-search in. In the coming days, I will clone this repo and create a pull request. I may need someone else to assist with CSS formatting to be in line with the rest of the theme.

Here is my repo with it integrated already: https://github.com/JackMcKew/jackmckew.dev/tree/master/themes/Flex

[2019-12-12 08:56] JackMcKew commented on #49
See https://github.com/alexandrevicenzi/Flex/pull/193 for pull request with Tipue search functionality

[2020-01-19 22:32] hexchain opened #194 "Add color for last.fm social button"
Currently, the `lastfm` social button is missing a background. It would be good if it could be added.

I'm not sure about their branding color - their logo uses `#ba0000`, but those red buttons on their site use `#d92323`.

[2020-01-21 09:13] alexandrevicenzi commented on #194
You can send a PR with the color you want.

[2020-01-28 22:39] #194 closed

[2020-02-07 17:06] alexandrevicenzi commented on #187
PR merged.

[2020-02-07 17:06] #187 closed

[2020-02-07 17:07] alexandrevicenzi commented on #49
Fixed in #193.

[2020-02-07 17:07] #49 closed

[2020-02-09 19:06] ghost opened #196 "Adjust margins of articles to be more center screen than full width"
Alex, great theme! I think it's one of the most popular ones so good job. I have a feature request which quite possibly may already be achievable but I'm no web developer hence why I'm asking.

When posting content I noticed it takes up the full width of the page which can make articles less inviting to read especially technical ones. For example, consider the beautiful hugo theme
https://themes.g

[2020-02-10 09:40] alexandrevicenzi commented on #196
So, you want to look like this:

![image](https://user-images.githubusercontent.com/2637672/74138160-60b68f80-4bf1-11ea-9ee6-7a207626a54a.png)

Instead of this:

![image](https://user-images.githubusercontent.com/2637672/74138190-6d3ae800-4bf1-11ea-86cf-b0d18cc7e36f.png)

In the Hugo world, there's [Hyde](https://themes.gohugo.io//theme/hyde/post/markdown-syntax/) that's very similar to this theme

[2020-03-15 07:53] jiefengsun opened #197 "Upper Case for the content and links"
{% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{name|title}}</a></li>
![image](https://user-images.githubusercontent.com/31747948/76697772-09c52f80-6661-11ea-8e5a-ae2348dd52e8.png)

It seems that the LINKs cannot be Upper case.

[2020-03-15 16:29] alexandrevicenzi commented on #197
Yes, you can't, unless you change the CSS for your blog, this is not done in python or jinja, but with CSS text-transform property.

[2020-03-15 16:29] #197 closed

[2020-03-30 01:01] sumnerevans commented on #177
I'm planning on integrating [Isso](https://posativ.org/isso/) into my fork, and I'll submit a PR if there is interest in integrating it directly into this repo.

[2020-03-31 15:38] sumnerevans opened #198 "Upgrade from gulp 3 to gulp 4"
I am running into this issue while trying to compile the Less for Flex: https://github.com/gulpjs/gulp/issues/2324

[code]

I'm going to upgrade the to the new `gulpfile` syntax and upgrade gulp in the `package.json` in my fork because I need this to work for my purposes. I will submit a PR, feel free to reject it if you don't want it.

[2020-04-09 15:42] sumnerevans opened #201 "Dark mode"
It would be great if Flex had a dark mode option. Here are some things that I think are critical for a good dark mode:

* Automatic detection of browser theme preference (if the browser or OS provides it). This functionality should not require JavaScript to be enabled.
* An option to allow the user to override the detected theme. It is fine if this functionality requires some JavaScript.
* Allow d

[2020-04-10 23:46] Dorson commented on #201
@sumnerevans Impressive job :1st_place_medal:  :+1:

Did a similar code with a demo in here:
https://dorson.github.io/CSS-Dark-Mode-and-color-switch/

My version uses the html tag as the root element for color variables, instead of the body one. Helps to overwrite automatic settings, if the user wants to do so.

Great work !

[2020-04-13 14:23] NicoPy opened #202 "Add Diaspora social button"
Please add Diaspora social button : [*](https://fontawesome.com/icons/diaspora?style=brands)

[2020-04-13 17:57] NicoPy opened #203 "Multi-language enhancement"
To enhance multi-language support :
- Add global translation buttons as described in [i18n_subsites plugin documentation](https://github.com/getpelican/pelican-plugins/blob/master/i18n_subsites/implementing_language_buttons.rst).
- Add a PAGE_HIDE_TRANSLATION option like the ARTICLE_HIDE_TRANSLATION and use it in page.html  template.
- Modify CSS accordingly.

This allows to switch language from a

[2020-04-13 18:49] NicoPy opened #204 "Update documentation for JINJA_EXTENSIONS"
JINJA_EXTENSIONS has been deprecated and replaced by JINJA_ENVIRONMENT.

It is used like this :
JINJA_ENVIRONMENT = {
    'extensions': ['jinja2.ext.i18n']
}

[2020-04-14 09:39] alexandrevicenzi commented on #202
You can send a pull request with the change.

[2020-04-14 09:43] alexandrevicenzi commented on #201
Feel free to send a PR.

[2020-04-14 09:44] #198 closed

[2020-04-14 14:09] NicoPy opened #205 "Field list : Field name alignment problem"
Using field list like `:fieldname: Field content` .
This generates a table with the field name in a column and field content in another one.
Field name should be left aligned.
This is especially important when field name is too long. In this case, the first column spans over the second and field content is on a second line. In this situation, the field name is centered in the table.

[2020-04-14 15:53] sumnerevans opened #206 "Support code in annotations"
When code is included in annotations, it does not format correctly:

![image](https://user-images.githubusercontent.com/16734772/79245570-7fc1df80-7e35-11ea-981e-f3664e613299.png)

**Expected:**
![image](https://user-images.githubusercontent.com/16734772/79245654-9cf6ae00-7e35-11ea-820c-c989226b8fc5.png)

This is the reStructuredText that generates the above issue:

[code]

[2020-04-14 16:21] sumnerevans opened #209 "Pygments doesn't work on reStructuredText code blocks"
reStructuredText code blocks have a different class name than markdown code blocks.

For example, this markdown:

[code]
generates HTML like:
[code]

but the following reStructuredText:

[code]
generates HTML like:
[code]

[2020-04-15 03:15] sumnerevans opened #211 "Are the double bars in the menu intentional?"
Is it intentional that there are double bars between the items in the menu bar? Also, it appears that there is no margin/padding between the bars that are between "HOME" and "ARCHIVES".

![image](https://user-images.githubusercontent.com/16734772/79295082-0bb72400-7e95-11ea-842e-37054af024ca.png)

I think it looks better if it's a single bar:
![image](https://user-images.githubusercontent.com/1673

[2020-04-15 09:47] #202 closed

[2020-04-15 09:55] alexandrevicenzi commented on #211
You can make it single I guess, looks better than double.

[2020-04-15 10:41] #209 closed

[2020-04-15 15:03] sumnerevans commented on #211
Ok, I've updated the PR #212 accordingly.

[2020-04-16 07:54] #211 closed

[2020-04-16 07:55] #206 closed

[2020-04-16 16:07] sumnerevans opened #214 "Tipue Search integration doesn't include tipuesearch_content.js"
According to the documentation for the `tipuesearch` plugin: https://github.com/getpelican/pelican-plugins/tree/master/tipue_search#how-to-use, the following must be included if using `tipuesearch`:
[code]
however the existing integration does not include that file.

[2020-04-16 18:01] sumnerevans opened #216 "Translated links in main nav have extraneous whitespace"
When the `<a>` tags that are translated (Home, Atom, and RSS) get rendered, additional whitespace is added. This causes some browsers to render a space after the text, which messes up styling of the nav bar. For some reason I didn't catch this issue when I was working on #212

[code]

[2020-04-17 09:45] alexandrevicenzi commented on #216
The problem is [here](https://github.com/alexandrevicenzi/Flex/blob/master/templates/base.html#L3).

[2020-04-20 01:48] qian-gu opened #218 "add support for pelican-toc plugin"
I think it would be great if Flex can generate a table of content for each article, beacuse most technical blogs will be more easy to read with a table of content.

`pelican-toc` plugin is pretty good for me, I have made a little update in articlce.html to support it.

The live demo is here, ignoring the section number generated by `section_number` plugin.

http://guqian110.github.io/posts/python/

[2020-04-20 08:03] alexandrevicenzi commented on #218
你好, sounds good, as long as you can disable on specific posts.

For example, it could be part of post meta, as `toc: True` or something like that.

[2020-04-20 08:04] #216 closed

[2020-04-20 08:11] #214 closed

[2020-04-20 08:12] alexandrevicenzi commented on #214
I did not implement this, so it may be buggy, as well I don't use Tipue Search.

[2020-04-20 08:15] alexandrevicenzi commented on #205
Share a post example and a print of the problem, otherwise I can't help.

[2020-04-20 08:19] alexandrevicenzi commented on #203
Feel free to send a PR. i18n was never a major thing in this theme, only i10n.

[2020-04-20 20:24] #201 closed

[2020-04-21 00:40] guqian110 commented on #218
ok, I will try it later.

[2020-04-21 01:28] guqian110 commented on #218
I found that `pelican-toc` has already support a metadata `toc_run:true` to enable generating a TOC.

I just need set `toc_run: false` in pelicanconf.py and it will not generating a toc for any posts, people can turn it on for specific posts by using `toc_run:true` in their markdown files, so I think I needn't do anything else except for integrating the plugin into article.html.

Let me know if I'

[2020-04-21 02:44] guqian110 opened #220 "LOCALE setting"
I'm a Chinese user of Flex, it worked fine unitl I pull the head version and get a error message,

My LOCALE setting is `LOCALE = 'zh_CN`, it seems that error is caused by invalid `LOCALE` setting, but I don't know what's the valid setting for Chinese language, could someone help me?

[2020-04-21 08:48] alexandrevicenzi commented on #220
Did you only update the theme or did you update Pelican as well?

[2020-04-21 08:52] alexandrevicenzi commented on #220
The LOCALE has changed in Pelican 3.7 check [here](https://docs.getpelican.com/en/stable/settings.html#LOCALE). For chinese it should be `zh_CN`.

[2020-04-21 08:53] alexandrevicenzi commented on #218
Sounds good to me.

[2020-04-21 08:58] guqian110 commented on #220
I only update the theme, the warning message appears also before I update the theme, but it doesn't cause error.

I found it doesn't work after version `533bc1760eb06126b361471c5fe458ef1309ad04`, I'll check the pelican version later and try to fix it. Thank You!

[2020-04-21 09:16] alexandrevicenzi commented on #220
You may have found a bug, in `533bc1760eb06126b361471c5fe458ef1309ad04` I did an update in some translations, but I did not try Chinese.

[2020-04-21 13:58] sumnerevans commented on #220
This is actually not an issue with the `LOCALE`. It's an issue with the `post_stats` translation integration. PR incoming...

[2020-04-21 14:05] sumnerevans commented on #204
The wiki is publicly editable. You can update the wiki with the correct configuration.

[2020-04-21 16:59] alexandrevicenzi commented on #220
For Chinese this should work:

[code]
Use `locale -a` to get the correct ID, otherwise, you get the warming, but the warning does not blocl translation to work.

[2020-04-21 17:18] guqian110 commented on #220
great job, thank you!

[2020-04-21 18:55] alexandrevicenzi commented on #220
@guqian110 there are missing translations in Chinese, if you want to help us translate missing ones check [Flex wiki](https://github.com/alexandrevicenzi/Flex/wiki/Translate-to-your-language).

[2020-04-21 19:16] alexandrevicenzi commented on #204
Wiki was updated.

[2020-04-21 19:49] #204 closed

[2020-04-22 01:33] guqian110 commented on #220
I have send a request to join the team on transifex.

[2020-04-22 08:13] alexandrevicenzi commented on #220
I approved.

[2020-04-22 08:49] guqian110 commented on #220
translation done.

[2020-04-22 15:33] NicoPy commented on #205
The following code

[code]
displays like this :
![image](https://user-images.githubusercontent.com/8762261/80001105-49800200-84be-11ea-952a-725843b19692.png)

It should display like this :
![image](https://user-images.githubusercontent.com/8762261/80001406-9c59b980-84be-11ea-9f06-b98cb30e9cbd.png)

I modified static/stylesheet/style.less by adding the following at the end :
[code]
I'm far from a h

[2020-04-26 20:18] jekil opened #223 "Hide CC License image"
Would be great to have an option to hide CC License image

[2020-04-28 21:03] lpenaud opened #224 "Figure style"
Hi, I would like to send a PR to add some style to figure element.

## Problematic
Figure element is not mentioned in `style.less`.

## Proposed solution
Add style to theses class:

* `div.figure`
  * `img`
  * `p`
  * `p.caption`
  * `div.legend`
* `div.figure.align-left`
* `div.figure.align-center`
* `div.figure.align-right`

### Overview

#### Light theme
![light](https://user-images.githubuser

[2020-04-28 21:16] lpenaud commented on #218
Interested by a table of content like Wikipedia has ?

[2020-04-28 22:32] alexandrevicenzi commented on #224
Hi,

Sounds reasonable, feel free to send a PR.

[2020-04-28 22:39] alexandrevicenzi commented on #218
The one in there is kinda ugly, there was a PR for toc, but it seems we have not yet found a good place or style for toc.

I'm open to more ideas, I suggested something [like this](https://mmistakes.github.io/minimal-mistakes/layout-table-of-contents-post/).

Still, toc only makes sense to huge posts, and not everyone writes long posts. I find only useful where you can navigate to sections, but ar

[2020-04-29 14:48] lpenaud commented on #218
Okay, I will try to do something, maybe I can write a plugin which use metadata to specify if the article need a toc (an default option to ?).

[2020-04-29 15:37] lpenaud opened #226 "Development: update / add gulp tasks"
Hi,
I modify dark theme in a previous PR #225, and `USE_LESS` variable doesn't work with `dark-theme.less`. Plus, now Flex have a JavaScript file which interact with the style of the page.

## Problematic
Dark theme files aren't refresh when you use `USE_LESS` variable.
Theses files should be watch:

* `static/stylesheet/dark-theme.less`
* `static/dark-theme/dark-theme.js`

## Proposed solution
Si

[2020-05-03 14:48] lpenaud commented on #218
I starting to work on toc style with a little bit of JavaScript.
For now this only concerns the `contents` reStructuredText directive.

Then, with this brute text:

[code]

it's will generate that:
![Table of contents](https://user-images.githubusercontent.com/18645983/80916995-7d7be280-8d5c-11ea-98ff-d64f94752759.png)
![Local table of content](https://user-images.githubusercontent.com/18645983/80

[2020-05-03 22:40] sumnerevans opened #227 "Add Social color for Twitch"
Add a color for Twitch: https://www.twitch.tv/

The Twitch logo uses the following color: #a970ff

[2020-05-03 22:51] sumnerevans opened #229 "Pure admonitions don't have any styling"
The following rST

[code]

currently produces:

![2020-05-03-16:47:12](https://user-images.githubusercontent.com/16734772/80927884-e44dcb80-8d5d-11ea-8d60-34b0cd5a8314.png)

I suggest that it uses the "tip" color, without the tip icon. For example:

[code]

would become:

![2020-05-03-16:50:54](https://user-images.githubusercontent.com/16734772/80927932-4a3a5300-8d5e-11ea-8288-af4ee9710795.png)

[2020-05-04 11:09] #227 closed

[2020-05-06 11:49] alexandrevicenzi commented on #229
Don't know, it does not seem right to me to change.

There are some docs [here](https://docutils.sourceforge.io/docs/ref/rst/directives.html#admonitions) about Generic Admonition, as well as styling looks [here](https://pythonhosted.org/sphinxjp.themes.basicstrap/sample.html#admonitions-docutils-origin).

`admonition` is generic, does not specify anything, if it should have any color it should not

[2020-05-06 15:43] johanfleury commented on #229
I can’t figure what a use case for a generic admonition could be, let alone if it would be the same for everyone so I would let end users decide by using custom CSS on their side.

[2020-05-06 21:57] alexandrevicenzi commented on #229
If it's to add some style, I would at least make something not popular, to force use something else. Probably a good idea would be some grayish color.

[2020-05-07 15:47] sumnerevans commented on #229
Generally, the reason for using a blank *admonition* rather than one of the other ones is that you can have a custom title. I think that grey sounds good. What do you think of this?

**Light Mode**

![2020-05-07-09:45:52](https://user-images.githubusercontent.com/16734772/81315465-9085ff80-9047-11ea-8cb2-0525c8fe57b6.png)

**Dark Mode**

![2020-05-07-09:45:40](https://user-images.githubusercontent

[2020-05-07 19:00] alexandrevicenzi commented on #229
@sumnerevans dark theme looks nice, the color on the light theme could be a bit bright.

[2020-05-11 21:39] #229 closed

[2020-05-11 21:40] alexandrevicenzi commented on #229
Thanks @sumnerevans. PR is merged.

[2020-05-11 21:40] alexandrevicenzi commented on #226
@sumnerevans want to take a looks as you did the dark theme?

[2020-05-11 21:45] alexandrevicenzi commented on #223
You can hack it with CSS or you can just not use `CC_LICENSE`.

Do you want something else? I believe there could be some setting to not show the image, but someone needs to send a patch for that, feel free to do so.

[2020-05-12 13:21] lpenaud commented on #226
In my example, I forget to watch JavaScript files. You can use [watch-task branch on my repo](https://github.com/lpenaud/Flex/tree/watch-task) to test it if you want.
[code]

[2020-05-12 15:52] alexandrevicenzi commented on #224
Fixed by #225.

[2020-05-12 15:52] #224 closed

[2020-05-12 15:56] alexandrevicenzi commented on #218
I would use pelican-toc plugin that already exists and just grabs what is in the page.

The only missing thing is the styles and where to put it in the theme.

[2020-05-12 16:00] alexandrevicenzi commented on #205
This theme was designed with markdown in mind, what feature is this in rst?

[2020-05-12 19:15] lpenaud commented on #218
Pelican-toc plugin integration:

![image](https://user-images.githubusercontent.com/18645983/81735552-7f991c00-9495-11ea-8ad4-67e34605168b.png)

![image](https://user-images.githubusercontent.com/18645983/81735392-4660ac00-9495-11ea-8f24-a5a84bc0121e.png)

[2020-05-12 19:31] alexandrevicenzi commented on #218
Looks promising, both options are valid I think, it could be configured where you want to place, like top, or right.

[2020-05-13 13:37] newptcai opened #231 "Set focus on the main column by default"
Right now if you visit the demo website https://flex.alxd.me/blog/

You have to click on the main content column to make page up/down keyboard working.  Otherwise you can only scroll with mouse.

[2020-05-13 17:51] lpenaud commented on #218
Ok, I add `TOC_FLOAT` variable to set the TOC position.

* By default TOC is placed to the top
* `TOC_FLOAT = 'right'` to place TOC to the right
* `TOC_FLOAT = 'left'` to place TOC to the left

Add some breakpoints too (according to Bootstrap ones) to avoid this (`min-width: 768px`):
![image](https://user-images.githubusercontent.com/18645983/81845901-8a18eb80-9551-11ea-8e0c-128c8018e03f.png)

So,

[2020-05-24 13:01] NicoPy commented on #205
This is [field-lists](https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#field-lists).
I use it for two columns lists of items.

[2020-06-01 01:16] kakila opened #232 "Translate CC lincense"
Hi,

The theme is translated into Spanish when I follow the instructions in the wiki, except for the license. Is there any configuration to use a CC license in Spanish? I guess one could use directly the content from CC, but there is nothing explained in the License wiki page of Flex.

Thanks

[2020-06-01 08:31] alexandrevicenzi commented on #232
The license is not being translated, was forgoten probably.

[2020-06-01 12:13] alexandrevicenzi commented on #231
You can send a PR to fix this.

[2020-06-01 12:17] alexandrevicenzi commented on #218
TOC on mobile looks nice, but the desktop one that wraps around text seems weird IMHO.

[2020-06-05 10:01] shangfr opened #233 "hide the left content"
Is there any way to add a button to hide the content on the left when reading the article?
Thanks!

[2020-06-07 19:54] alexandrevicenzi commented on #233
No, there's no button or setting to hide the sidebar.

[2020-07-30 09:01] reisub0 opened #235 "[Firefox] Social -> RSS Icon is not layout properly and seems to be missing icon"
Both on my test site and on your [demo site](https://flex.alxd.me/blog), the RSS icon is not displaying properly

![image](https://user-images.githubusercontent.com/25099244/88903357-3032e280-d271-11ea-87f3-f0c9bdb5f34a.png)

[2020-07-30 09:05] reisub0 commented on #235
This seems to be a Firefox specific issue. Layouts correctly on Chrome.
The icons also seem to be off-center.
![image](https://user-images.githubusercontent.com/25099244/88903853-f1515c80-d271-11ea-9ed2-8e4ebeffcacb.png)

[2020-07-30 11:23] alexandrevicenzi commented on #235
It works on my Firefox, both on Linux and Android.

If you use AdBlock, VPN, Proxy, or anything else it may cause the CSS to not load properly, that's not a theme's fault.

[2020-07-30 13:22] reisub0 commented on #235
You're right Alex. It seems to be due to my AdBlocker. I should have checked that before I raised this issue.

Sorry, closing the issue.

[2020-07-30 13:22] #235 closed

[2020-07-30 13:31] alexandrevicenzi commented on #235
You could check console for errors, this could be one of the reasons, maybe some JS is breaking the website.

If there's an error you can post it here so we can take a look and check if it would be possible to fix.

[2020-07-31 10:10] reisub0 commented on #235
<details><summary>uBlock Origin Logger output</summary>

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
</details>

Console log just shows this:
![image](https://user-images.githubusercontent.com/25099244/89025166-fbdc2680-d343-11ea-8153-cb8709c97359.png)

[2020-07-31 11:00] alexandrevicenzi commented on #235
It seems that there are no errors. I don't really know why it would not load the CSS properly.

[2020-08-05 22:59] AlexArcPy opened #236 "Is it possible to increase the size of the post preview?"
Is the size of the post preview section configurable? It is now 3-4 lines of text and I wonder if it would be possible to adjust that?

See an example https://rasor.github.io/

I am aware that each post can have associated `summary` metadata which could be used, but is there any other way to adjust this?

[2020-08-07 14:47] AlexArcPy commented on #236
Found `SUMMARY_MAX_LENGTH` to do exactly this :

https://docs.getpelican.com/en/stable/content.html

[2020-08-07 14:47] #236 closed

[2020-08-16 19:51] saagit opened #238 "Add option to output canonical URL"
Canonical links are handy to tell search engines which page is canonical among various permutations of URLs (e.g. https vs. http and www subdomain or not).  If doing this is desired to be optional, a possible commit is visible [here](https://github.com/saagit/Flex/commit/4d2a9f81e69ef6614b1e7f70ecd420c51a3341df) that will output canonical links when REL_CANONICAL=True.  If it should always be done

[2020-08-17 19:27] alexandrevicenzi commented on #238
If REL_CANONICAL is from Pelican I would say we need to check it.
If not, and you want canonical URLs, there should be a setting to not break any behavior.

Also, Google is not that dumb, if you do proper redirects it won't complain. The problem is serving the same content in multiple domains, which for me sounds odd, especially because Pelican is for small blogging purposes.

I'm OK with this cha

[2020-08-18 19:26] saagit commented on #238
REL_CANONICAL is not from Pelican but rather just something I made up.  I'm not proud of the name so if you would like something different, I'd be happy to change it.  I believe the way I implemented it in the commit I pointed to will not change the output at all unless REL_CANONICAL is set to True in the configuration, but I'm pretty new to Jinja so perhaps there's a side effect I don't understan

[2020-08-19 21:08] alexandrevicenzi commented on #238
Yes, I think that this may be useful for some.

[2020-08-23 18:29] saagit opened #241 "Use updated Google fonts API and match fonts specified to fonts used."
By examining the source, the weights and styles of fonts used are as follows:

### Source Sans Pro

| font-weight | font-style | File                  | Used for                    |
| :---        | :---       | :---                  | :---                        |
| 300         |            | style.less            | headers, blockquote         |
| 400         |            | user agent stylesheet

[2020-08-25 18:04] alexandrevicenzi commented on #241
I guess this looks ok, not that far from the old one, if something is missing in the new version it would probably be in the old one.

[2020-08-25 18:10] #233 closed

[2020-08-26 08:12] #241 closed

[2020-08-27 03:06] jedludlow opened #244 "Change the order of copyright parameters in the site footer"
The current copyright formatting in the footers is:

    &copy; {{ COPYRIGHT_NAME}} {{ COPYRIGHT_YEAR }}

The more traditional formatting would be to put the year first followed by the name of the copyright holder:

    &copy; {{ COPYRIGHT_YEAR }} {{ COPYRIGHT_NAME }}

Would you accept a pull request that implements this change? I've already got it ready to go.

[2020-08-28 02:43] saagit opened #245 "Address incompatibility with Pelican 4.5.0 plugins"
Pelican 4.5.0 changed the plugins mechanism and the default for PLUGINS is now None.  The following type of construct is used in a number of places in Flex:
[code]
Unfortunately, if PLUGINS is not set in pelicanconf.py, PLUGINS will be None under 4.5.0 and the following exception will be triggered under Pelican 4.5.0:
[code]
The Pelican maintainers did not intend the examination of PLUGINS by temp

[2020-08-28 07:49] alexandrevicenzi commented on #244
Sure, sounds about right.

[2020-08-28 14:39] #244 closed

[2020-08-29 19:12] saagit commented on #245
As I was looking for something else, in the [docs](https://docs.getpelican.com/en/stable/themes.html#templates-and-variables) I came across this statement:

One _could_ infer that because PLUGINS is all-caps, that its use by templates to determine if a plugin was requested to be loaded was implied.

[2020-09-08 01:57] mhatta opened #247 "Is dark mode really supported?"
Dark mode is supposed to be supported (https://github.com/alexandrevicenzi/Flex/wiki/Dark-Mode), but I couldn't find  correspond source.  Is any 3rd party plugin or such required?

[2020-09-08 09:32] alexandrevicenzi commented on #247
It should work, visit [https://flex.alxd.me/blog/](https://flex.alxd.me/blog/) go to the bottom of the page and click in dark mode, it will switch colors unless your OS is set to dark mode already, like Gnome, it should auto load in dark mode, so in this case, you can switch to light mode.

[2020-09-08 09:33] alexandrevicenzi commented on #247
Dark mode is just CSS and JS, look in `static` folder for the files.

[2020-09-08 11:14] mhatta commented on #247
Ah, now I see the problem.  the version of Flex linked from getpelican/pelican-themes repo (v2,2,0, b3bd59002a) is older than the current HEAD, so it doesn't contain new files in `static`.

[2020-09-08 11:14] #247 closed

[2020-09-08 11:17] alexandrevicenzi commented on #247
I need to update pelican-themes, it's on my TODO list, will do soon.

[2020-09-12 22:49] gemad opened #249 "Can't deploy the theme"
Hello,

While deploying the theme by cloning the master and then run this command

`$pelican content -s pelicanconf.py -t /Path/to/theme`

I am getting the following error :

`CRITICAL: argument of type 'NoneType' is not iterable
`

[2020-09-13 09:56] gemad commented on #249
I find this PR #248 which solved my problem

[2020-09-13 09:56] #249 closed

[2020-09-19 17:25] #245 closed

[2020-09-19 20:17] alexandrevicenzi commented on #170
Fixed by #171

[2020-09-19 20:17] #170 closed

[2020-09-28 08:29] pchampin opened #250 "Enabling translation does not seem to work"
I tried to follow the [instructions for enabling translations](https://github.com/alexandrevicenzi/Flex/wiki/Enable-translation), but all theme labels ("posted on", "continue reading"...) are still displayed in English :cry: .
I tried this on my own site, and on a fresh site created with `pelican-quickstart`.

I'm using Pelican 4.5.0 with Python 3.8.2 ...

[2020-09-28 20:50] alexandrevicenzi commented on #250
If nothing is translated is a misconfiguration. If some words are not translated is translation missing, not all languages are complete.

Without your settings, I can't help much.

For French:

[code]

[2020-09-29 07:07] pchampin commented on #250
Ok, I got the `I18N_TEMPLATES_LANG` wrong, that's why it didn't work!

I will suggest an explicit warning on the wiki page, because it is easy to get this wrong.

Thanks

[2020-09-29 07:07] #250 closed

[2020-10-04 20:14] andreagrandi opened #251 "Flex theme is not able to show results from tipue_search plugin"
## Description of the issue

I've an "up and running" blog based on Pelican and I currently use tipue_search plugin. On my current theme, tipue works as expected, with Flex it doesn't.

## What I've done

- I'm using Pelican 4.5
- I'm using latest Flex 2.3
- I'm using the tipue_search plugin linked in submodules of Flex (the one generating the *.js not the old one generating the *.json)

## What h

[2020-10-04 21:03] andreagrandi commented on #251
I've an update: I've tried to use my old tipue js files (which, for reference, you can find here https://github.com/andreagrandi/andreagrandi.it/tree/master/themes/pelican-blueidea/static/tipuesearch but it should be 6.1 version).

I've updated the imports in `base.html` (the old version uses a non minified version):

[code]

and the search results are rendered just fine.

Now, I've no idea why th

[2020-10-14 04:49] snehal2841 commented on #196
Hey, I would like to do this.

[2020-10-15 11:29] alexandrevicenzi commented on #196
@snehal2841 feel free to do so, best if there's a way to configure this in settings.

[2020-10-15 16:22] snehal2841 commented on #196
I have made the possible changes . Please review #252 . I hope it has became as you want it to be. As I am just from from the WebD background so I cannot assure that it has totally been corrected. But still please do check it out once.

[2020-11-02 17:28] MaevaBrunelles commented on #238
Hello,

I take the liberty of intervening in this discussion as I'm looking to use this theme for my Pelican site and I saw this issue.

I've developed a [SEO plugin for Pelican](https://github.com/pelican-plugins/seo) which generate canonical URL. I've not tested yet, but I guess that if the linked PR is merged, users which use both the SEO plugin and this theme will have twice a canonical URL in

[2020-11-02 17:37] saagit commented on #238
For the record, I'm completely fine with whatever Alexandre decides.

[2020-11-03 17:38] alexandrevicenzi commented on #238
@MaevaBrunelles your SEO plugin misses Open Graph and Twitter card AFAIK.

This theme has been around for 5 years or more, any changes like this are breaking changes and unaccepted, that's why the Canonical option from @saagit would be configurable, one can enable or disable.

The SEO plugin does not work with this theme, it would duplicate JSON-LD, used by Google, this could easily be solved by a

[2020-11-03 17:41] alexandrevicenzi opened #254 "Add support for SEO plugin"
We could use [SEO plugin](https://github.com/pelican-plugins/seo) instead of this theme SEO, which is not great by the way.

The theme SEO can not be removed, only disabled via configuration.

[2020-11-03 17:42] alexandrevicenzi commented on #238
I created #254 in case someone want's to fix it.

[2020-11-03 17:42] alexandrevicenzi commented on #254
I guess we could close #42 with this change.

[2020-11-03 17:46] alexandrevicenzi commented on #175
This change makes no sense any more, one can create a contact page, or use the plugins already available in the theme.

[2020-11-03 17:46] #175 closed

[2020-11-03 17:48] alexandrevicenzi commented on #177
I guess Isso solves this better. Closing it for now.

[2020-11-03 17:48] #177 closed

[2020-11-03 17:51] alexandrevicenzi commented on #84
This theme was meant for a single author, if anyone wants multi authors they can send a patch later.

[2020-11-03 17:51] #84 closed

[2020-11-04 17:10] kakila commented on #84
Is this still under consideration?

[2020-11-04 17:30] kakila commented on #84
I mean even for single authors, how can you display the author name in the post?

[2020-11-04 19:17] kakila commented on #84
To add the authors it would be simple as

`By {{ article.authors|join(', ')|escape }}`

However this cannot be translated, and I guess one needs to use Jinja. However my lack of experience doesn't allow me to  understand why this fails

`{{ _(By %(authors), authors=article.authors|join(', ')|escape) }}`

I actually couldn't find a way of using `_()` without erros.

[2020-11-05 17:08] alexandrevicenzi commented on #84
It should be `{{ _("By %(authors)", authors=article.authors|join(', ')|escape) }}`, but this fails in many ways.

For multiples authors, it would produce: `By XYZ, ABC, QWERT`

In English the correct is: `By XYZ and ABC` if only two and `By XYZ, ABC, and QWERT` if more than two

For other languages it may follow another pattern.

This could be considered if done properly, but as the theme is meant

[2020-11-06 13:06] kakila commented on #84
Well, sometimes a solution is better than none. As far as I know "Authors: " would work in any language that has the meaning of "Authors". This should be written only if there is more than one author.

[2020-11-06 13:08] kakila commented on #84
Then you should put this clearly in the README, and do not allow to render the "Authors" page. Unless, of source, you are happy with that inconsistency. I think if you keep "Authors" page, then you cannot claim it is a purely ONE author theme.

[2020-11-07 16:02] alexandrevicenzi commented on #84
@kakila as stated in the readme, this theme is not under development anymore. You are free to fix anything that is broken in a PR, as long as it is a proper fix.

If you want to work on this issue I can re-open it and assign it to you.

[2020-11-26 07:55] justinmayer opened #255 "Pelican plugins submodule"
Hey Alex. Pelican maintainer here. By adding the legacy monolithic Pelican Plugins repository as a submodule in this theme, anybody who follows the instructions listed on the legacy monolithic Pelican Plugins repository README…

    git clone --recursive https://github.com/getpelican/pelican-themes ~/pelican-themes

… will end up with the entire contents of the legacy monolithic Pelican Plugins re

[2020-11-27 10:04] alexandrevicenzi commented on #255
Hi Justin, I think it's ok to remove, not sure if it's used anymore. I'll take a look.

[2020-12-01 18:37] #255 closed

[2020-12-01 18:39] #238 closed

[2020-12-09 17:08] Christian-Cardone opened #256 "Add configuration for Google Analytics 4"
The new Google Analytics (4) uses a different script for tracking as well as new properties IDs. The new measurement ID (from property) is of the form "G-XXXXX" as opposed to the previous Universal Analytics Id that was "UA-XXXXX". So if you create a new Analytics account and want to track your website, you currently can't with the current set up since "UA-XXX" and "G-XXX" are not interchangeable

[2020-12-09 17:26] alexandrevicenzi commented on #256
Go ahead, send the PR, it can be useful for some people.

[2020-12-15 10:09] #256 closed

[2021-01-22 18:06] introt opened #259 "Unable to join transifex team"
Hello!

I'd like to translate Flex to Finnish. "Finnish (Finland)" is already listed in the project languages, but it is not available in the "Join team"-dialog's drop-down menu. How to proceed?

[2021-01-22 22:17] alexandrevicenzi commented on #259
I had to accept your request, you can translate now. :+1:

[2021-01-22 22:17] #259 closed

[2021-01-23 14:32] introt commented on #259
Thanks Alex! I've translated the strings to my best ability (which included taking a short trip to the Finnish blogosphere in order to learn the lingo; while not perfect, imo they're production ready), hope to see them included soon!

[2021-01-23 15:57] alexandrevicenzi commented on #259
Thanks, I'll take a look, but it may take some time to get released as there's not much to release now.

[2021-01-30 23:08] jac18281828 opened #260 "Support for Microsoft Clarity"
Add tag support for Clarity

[2021-02-03 10:51] #260 closed

[2021-02-03 12:56] Kentoseth opened #262 "Issue with URLs on pages"
This bug is similar to an Issue I opened 3 years ago: #77

This is what I have in my `pelicanconf.py`:

[code]

Here is my `publishconf.py`:

[code]

(I just included relevant bits from these files and left out the other bits that don't impact this bug)

If you visit: https://kentoseth.tk/pages/about-me

and look to the left-column menu, there are 2 bugs:

1. The Homepage URL is now: https://kento

[2021-02-04 13:01] alexandrevicenzi commented on #262
Add `/` into site url, like `SITEURL = 'https://kentoseth.tk/'`, this should probably fix it.

[2021-02-04 13:45] izikeros opened #263 "Missing line breaks in pre-formatted markdown blocks when using Flex theme"
In pre-formatted blocks of text (e.g. source code) there seems to be missing line breaks - all the content fits into one line when using there Flex. It displays correctly when using default theme.

I have just installed `pelican==4.5.4` and `Markdown==3.3.3` (there is also Pygments==2.6.1), cloned recent master of Flex to pelican-themes and enabled theme Flex. For the test I put markdown document

[2021-02-04 13:50] izikeros commented on #263
![pelican-flex](https://user-images.githubusercontent.com/5160836/106901626-49bd5700-66f8-11eb-901e-5a3a6fe729fd.jpg)

[2021-02-04 19:02] izikeros commented on #263
Adding: `pre {white-space: normal}` to `custom.css` solved problem for me. If this problem is not confirmed by other users, this issue can be closed.

[2021-02-04 20:49] alexandrevicenzi commented on #263
I'm not able to reproduce this error, if you are using custom.css remove it and try again, this could be the problem.

[2021-02-04 20:56] alexandrevicenzi commented on #263
btw, you did not specify a browser, I tested on Firefox and Chrome.

[2021-02-04 21:34] #223 closed

[2021-02-04 21:34] #232 closed

[2021-02-04 22:31] #196 closed

[2021-02-04 23:00] #231 closed

[2021-02-10 19:00] izikeros commented on #263
I have tested this both in Firefox and Brave. Now, I do not have this problem - perhaps it was something with caching resources such as css files.

[2021-02-10 19:00] #263 closed

[2021-02-16 17:17] #262 closed

[2021-02-22 19:31] Fryy3k opened #264 "Font Awesome Icons Not Displaying"
Could be my setup but none of the FA icons appear to be showing any more.

pelicanconf.py social options:
`# Social widget
SOCIAL = (
    ('linkedin', 'https://github.com/alexandrevicenzi/Flex'),
    ('facebook', '/blog/feeds/all.atom.xml'),
    ('envelope', 'mailto:mail@address.com'),
)
`
However display as such (no adblock, VPN etc) Same in Edge, Chrome and Firefox.
![faicons](https://user-image

[2021-02-22 20:08] Fryy3k commented on #264
Was an issue with MY .htaccess file!

Apologies.
![faicons](https://user-images.githubusercontent.com/22552474/108763836-be422380-7549-11eb-8167-1a7c3efbefd6.png)

[2021-02-22 20:08] #264 closed

[2021-03-06 18:16] Kentoseth commented on #262
Hello,

I attempted that and Pelican has a setting that removes it:

https://github.com/getpelican/pelican/blob/7a6686f4679adabdd690668a4ba7cedaf494e243/pelican/settings.py#L572

[2021-04-07 13:20] guqian110 commented on #196
Hi, it seems the margins has been set to more center, I wonder if it's configurable and how can I change it to be full width, I didn't find any instruction about this in wiki. Thanks 😄

[2021-04-07 16:28] MaevaBrunelles commented on #254
Hi @alexandrevicenzi,

The last version of SEO plugin supports Open Graph and Twitter Cards, so I can now try to handle this issue.

Based on [this template](https://github.com/alexandrevicenzi/Flex/blob/master/templates/partial/og.html) (for example), I was thinking to develop something like:
[code]

or add a configuration in `pelicanconf.py` as `DISABLE_FLEX_SEO = True` and:

[code]

What do you

[2021-04-07 21:20] alexandrevicenzi commented on #254
Sounds good.

Moving Flex SEO to partials can help a lot clean up the code and add the seo plugin.

I vote for `IF SEO IN PLUGINS` as a good approach, this ensures that if the plugin is enabled, Flex SEO is disabled.

[2021-04-07 21:24] alexandrevicenzi commented on #196
@guqian110 it's not configurable, you would need to override the CSS with a custom one to "fix" on your side.

Based on best practices for reading layouts, it makes more sense to limit it, otherwise a wide screen monitor will be unpleasant to read.

[2021-04-08 04:05] guqian110 commented on #196
@alexandrevicenzi thanks, it's more reasonable to limiting the width.

[2021-06-04 23:19] miralin opened #268 "CRITICAL: 'JINJA_EXTENSIONS' is undefined"
I get an error "CRITICAL: 'JINJA_EXTENSIONS' is undefined" when I try to render my site with Pelican. As I understand it's because of replacing JINJA_EXTENSIONS with JINJA_ENVIRONMENT and  that code in Pelican **settings.py**:
[code]
So even if I define JINJA_EXTENSIONS in my pelicanconf.py it will be deleted from pelican settings and this code at the top of Flex **base.html** leads to mentioned e

[2021-06-07 19:33] alexandrevicenzi commented on #268
Feel free to send a patch fixing this, but AFAIK, it works, unless Pelican changed again....

[2021-06-07 22:02] miralin commented on #268
I made some additional investigation because I noticed that above parts of code from Pelican and Flex coexist for a long enough time and I didn't face that error before. I found out that this error appears with Jinja2 release3.x. With Jinja2 release 2.x the command I use doesn't throw any error.
[code]
I will try to send a patch.

[2021-06-10 20:45] skandavivek commented on #268
Same issue as above

[2021-06-11 02:30] iliailmer commented on #268
I have the same issue, no idea yet how to get started on a fix.

[2021-06-16 23:14] #268 closed

[2021-06-16 23:22] alexandrevicenzi commented on #268
JINJA_EXTENSIONS was dropped in 2016 by Pelican, should have been removed a long time ago.

I fixed it in master branch, and I'll submit a new release to Pelican Themes once I get #267 merged.

[2021-06-16 23:25] #254 closed

[2021-07-24 15:43] radoeka opened #271 "tipue_search search improvement"
I've my blog running in https://FQDN/blog.

The search template base.html expect the file search.html in the root directory.

The attached patch makes search work for me: [search.zip](https://github.com/alexandrevicenzi/Flex/files/6872678/search.zip)

Commit the patch, please.  The patch was created against Flex-2.4.0.

[2021-07-24 15:58] radoeka opened #272 "article summary improvement for template index.html"
When a summary consist of 1 line only, the 'continue reading' button is overlapping with the summary.

The attached patch improves this, and takes care that the index.html shows the 'continue reading' button always at the correct location: [index.zip](https://github.com/alexandrevicenzi/Flex/files/6872705/index.zip).

Patch was created against Flex-2.4.0.

[2021-07-24 16:00] radoeka opened #273 "Add tag_cloud support"
The attached patch provide tag_cloud support: [flex-tag_cloud.zip](https://github.com/alexandrevicenzi/Flex/files/6872708/flex-tag_cloud.zip).
Would be nice if this can be add to Flex.

[2021-07-25 08:02] radoeka commented on #272
BTW: the patch can be applied with 'patch -p9 < index.patch'.
It worked fine against the current git version.

[2021-07-25 08:02] radoeka commented on #271
BTW: the patch can be applied with 'patch -p9 < search.patch'.
It worked fine against the current git version.

[2021-07-25 08:20] radoeka commented on #273
Improved version (updated css file).  This one uses the 'fit-content' width directive.

Patch can be applied from the Flex top directory with: "patch -p8 < flex-tag_cloud-1.patch"
[flex-tag_cloud-1.zip](https://github.com/alexandrevicenzi/Flex/files/6873547/flex-tag_cloud-1.zip).

It introduces 2 new stings to be translated:

translations/messages.pot
+#: templates/tags.html:13
+msgid "Tag Cloud"

[2021-07-25 10:16] radoeka opened #274 "Adjust max-width for main article does not work with custom_css"
I had/have an issue with a too small page width with the current Flex version in git.  It seems that this is due to the commit that was made for this issue: https://github.com/alexandrevicenzi/Flex/issues/196#issuecomment-815274467 comment at 7 April 2021

I tried the suggestion, made in the issue

So that's what I tried.  But I don't get it to work :(  I used, the following css code:
[code]

A bi

[2021-07-25 14:24] radoeka opened #275 "Add support for share_post plugin"
Attached is a patch to add support for the [share_post plugin](https://github.com/pelican-plugins/share-post).

This plugin creates old-school URLs for some popular sites, without the need to create a login with a 3rd party (like add_this).

Would be nice if this can be added to Flex.  There is support for twitter, email, facebook, reddit and linkedin.

The icons are displayed next to info line (u

[2021-07-25 23:04] alexandrevicenzi commented on #272
Fell free to submit the patch on a pull request.

[2021-07-25 23:05] alexandrevicenzi commented on #271
Feel free to submit the patch as a pull request.

[2021-07-25 23:05] alexandrevicenzi commented on #273
Feel free to submit the patch as a pull request.

[2021-07-25 23:22] alexandrevicenzi commented on #274
I can make it work with:

[code]

This changes the default 760 to 1024.

Be sure to also set the proper config:

[code]

Where `extra/custom.css` is the path location of you css file.

[2021-07-25 23:27] alexandrevicenzi commented on #275
Feel free to send this as a pull request, but disqus and addthis plugins have a similar function.

Also, I would rather leave the share buttons to the end of the article, and not below the title.

[2021-07-26 05:25] radoeka commented on #272
I would have done so, if I knew the steps how to make a PR.
Can you provide the steps to make a pull request (I don't have write permission to the Flex repository), please.

[2021-07-26 05:25] radoeka commented on #273
I would have done so, if I knew the steps how to make a PR.
Can you provide the steps to make a pull request (I don't have write permission to the Flex repository), please.

[2021-07-26 05:39] radoeka commented on #275
I know, but as stated, share_post does not require a login with a 3rd party.  It makes Flex more versatile.  One can either opt for share_post of add_this.  Both at the same time is not logical.

What's your rationale to put it at the end of the article? /just wondering

I tried it first at the end of the article, but it became too busy, as there are the tag labels already and as I've 'neighbors'

[2021-07-26 06:09] radoeka commented on #274
Thanks, you css code made it work.

The PATH settings I had already worked as the css was included in the pages.
Hence, the following is sufficient.
[code]

I wonder why your code is working, and mine not.  I derived mine from the style.less file.  Is that no real css?
BTW: how or when is the file style.min.css created (I assume it is created from style.less file, is that correct)?

To make it eas

[2021-07-26 07:50] alexandrevicenzi commented on #274
[LESS](https://lesscss.org/) is not CSS. LESS needs a compiler to create the proper CSS.
LESS was popular when this theme was created, but SASS is far better these days IMHO.

I see no reason to add `FLEX_PAGE_WIDTH` as it can be changed used custom CSS, and also 760px is a standard width for readability.

About the consistent, feel free to send a pull request to fix it, but it does not really mat

[2021-07-26 07:50] #274 closed

[2021-07-26 07:59] alexandrevicenzi commented on #275
Very simple, one needs to read the article before sharing, so what is the reason to put share buttons on the top?
If the article is good, one will share it at the end of it.

How about like this:

![image](https://user-images.githubusercontent.com/2637672/126953552-23924ae9-e529-468a-9426-47389ac9af65.png)

Tags
Share buttons centered
Everything else (neighbors, comments)

It becomes busy if you h

[2021-07-26 14:51] radoeka commented on #272
PR created https://github.com/radoeka/Flex/pull/1

[2021-07-26 14:56] radoeka commented on #271
Created PR: https://github.com/radoeka/Flex/pull/2

[2021-07-26 15:06] radoeka commented on #274
Created PR for the CUSTOM_CSS html <link> line (to make it consistent) https://github.com/radoeka/Flex/pull/3

OK, clear.  Do you maintain both files, style.less and style.min.css?
Or is style.min.css the only one (of the two) used?
The latter is very difficult to read, as it is all on 1 line.  Would it be possible to make it nicely formatted, so it is easier to read?

[2021-07-26 15:25] radoeka commented on #274
Created another PR https://github.com/radoeka/Flex/pull/4 to make the stylesheet style.min.css pass the validator with less errors (although it is already very very clean).  I hope, that this one can be accepted.

[2021-07-26 19:28] alexandrevicenzi commented on #274
The project uses Node.JS + Gulp + lessc to create the minified version.
There are some helper scripts to help on that.

[2021-07-26 19:35] alexandrevicenzi commented on #271
Fixed by #277

[2021-07-26 19:35] #271 closed

[2021-07-26 22:57] alexandrevicenzi commented on #272
Fixed by #276

[2021-07-26 22:57] #272 closed

[2021-08-06 18:45] Kentoseth commented on #175
Hey @filipgeppert can you please share the changes you made to your HTML files to get the form embedded?

I tried to copy your code from your website and I have a form, but I don't have your styling.

[2021-08-06 18:53] Karsteski opened #282 "Can't get theme working"
Hi, I'm new to Pelican and after reading through the Pelican documentation, as well as how to add Flex as a theme, I still can't get it working. Some of the Pelican themes work fine with my test page, but then others just do nothing. I'm not sure what's going wrong here since I've followed the steps exactly to get themes going...

Attempting to generate my site gives the following error:

[code]

[2021-08-06 20:42] alexandrevicenzi commented on #282
That's not an error, it clearly says WARNING, just something to be aware of.

There's an example of a working blog [here](https://github.com/alexandrevicenzi/Flex/tree/master/docs) and the result is [here](https://flex.alxd.me/), you can use it as a base for your own blog.

Without your configuration or your repository, I can't say anything else.

[2021-08-06 20:42] #282 closed

[2021-08-06 20:48] alexandrevicenzi commented on #42
Closing this as #267 and #254 added a new SEO plugin.

[2021-08-06 20:48] #42 closed

[2021-08-06 21:03] Karsteski commented on #282
Here's the thing though. Even when I copy everything to from docs, where all I change is the output folder to output so I can use `make devserver`, it does not work properly. All I get is the xml files.
[Here's my updated repo](https://github.com/Karsteski/karsteski.github.io/tree/master/pelican)

[2021-08-06 21:04] Karsteski opened #283 "Can't get theme working"
That's not an error, it clearly says WARNING, just something to be aware of.

There's an example of a working blog [here](https://github.com/alexandrevicenzi/Flex/tree/master/docs) and the result is [here](https://flex.alxd.me/), you can use it as a base for your own blog.

Without your configuration or your repository, I can't say anything else.

_Originally posted by @alexandrevicenzi in https:/

[2021-08-06 21:04] Karsteski commented on #283
Here's the thing though. Even when I copy everything to from docs, where all I change is the output folder to output so I can use `make devserver`, it does not work properly. All I get is the xml files.
[Here's my updated repo](https://github.com/Karsteski/karsteski.github.io/tree/master/pelican)

[2021-08-06 21:10] Karsteski commented on #283
If I literally just download your Flex repo and do `pelican content` + `pelican --listen` then it works. So I guess I have a misunderstanding how pelican is supposed to work? So I guess I can just work backward from your template but I do not understand what I am doing wrong when trying to setup your template... Sorry for the trouble.

[2021-08-06 22:48] alexandrevicenzi commented on #283
I don't want to be rude, but honestly, I'm not here to set up your environment, there are examples and the wiki to help out, that's your best choice.

Your website https://www.karsteski.com/ seems to be there and working.

If I can give one piece of advice, move to [Hugo](https://gohugo.io/), it's far better, the documentation is good, not perfect, but compared to Pelican, it offers more features

[2021-08-06 23:03] Karsteski commented on #283
Yea sorry about the neediness, I was just getting angry with how nothing was working like I expected... I got it working after figuring out how the SITEURL worked differently locally vs. deployment, obvious in hindsight but I glazed over it when reading the documentation.

Hugo was originally my first choice, and I may switch to it eventually but now that I have things working, I'll stick to Pelic

[2021-08-06 23:03] #283 closed

[2021-08-17 13:58] andryyy opened #284 "Ultra low prio translation issue with "de""
https://github.com/alexandrevicenzi/Flex/blob/ef20ea1fb3af763e23179a9a08cc9c40260eee52/translations/de/LC_MESSAGES/messages.po#L114

Should be `msgstr "Gebaut mit %(pelican_url)s und dem %(flex_url)s theme"` :)

André

[2021-09-30 09:24] schtobia opened #285 "Promote all links in the "social" box with rel="me" attribute"
This part here

https://github.com/alexandrevicenzi/Flex/blob/a2b7d6de370779679875eb199279d3deea08f30f/templates/base.html#L222-L228

could be extended to promote the `rel="me"` attribute for _all_ social links. This is according to the [corresponding microformat](https://microformats.org/wiki/rel-me) and would be helpful for a [Web Sign In](https://indieweb.org/How_to_set_up_web_sign-in_on_your_o

[2021-10-01 03:04] ashusengar commented on #101
If this issue is still open I would like to do it. Admin please assign me this issue.

[2021-10-01 12:06] alexandrevicenzi commented on #101
Go ahead.

[2021-10-01 12:09] alexandrevicenzi commented on #285
Not all links will be "me", one can add any links there, not sure about that. Some social networks would work. Might be better to just change name equals something to name in some range.

[2021-10-01 16:25] ranjal007 commented on #205
Hey @NicoPy  can you please assign this issue to me for hacktoberfest. I think I can resolve this issue.

[2021-10-02 07:57] schtobia commented on #285
what about expanding the `SOCIAL` variable in `pelicanconf.py` to a triplet? That way we can conditionally assign each link its own relation:
[code]

[2021-10-02 16:57] Linkid opened #286 "Changelog : version 2.3.0 and 2.4.0 are missing"
Hi !
I'm using Flex and I've just seen that the changelog is not up to date. Version 2.3.0 and 2.4.0 changelogs are missing, but can be found in the blog.

[2021-10-02 16:57] Linkid commented on #286
I've just prepared a PR to update the changelog file. I'll be happy to submit it :).

[2021-10-02 17:31] NicoPy commented on #205
@ranjal007 I think I can't do that as I'm not the owner.

[2021-10-02 18:49] alexandrevicenzi commented on #285
It would work, but breaks compatibility with older settings, which could be a no go, unless there's an easy way to have an if old style do this else do that.

[2021-10-02 18:50] alexandrevicenzi commented on #286
I guess it was forgotten, no harm to update the file. Send your PR.

[2021-10-02 18:51] alexandrevicenzi commented on #205
@ranjal007 done, feel free to submit your PR.

[2021-10-03 06:00] schtobia commented on #285
Yes, there is a way:
[code]
(see [my repo](https://github.com/schtobia/Flex/blob/master/templates/base.html#L221-L232).)

[2021-10-13 19:58] fghaas opened #289 "Add support for series plugin"
I love this theme and would like to port [my site](https://xahteiwi.eu) to it, but I've written quite a few articles as installments of [series](https://github.com/pelican-plugins/series) and I'd prefer not to lose that functionality.

The implementation is fairly simple and can heavily borrow from Series plugin support in other themes (I currently use bootstrap3, and Flex could use the same funct

[2021-10-13 22:08] alexandrevicenzi commented on #289
I don't mind new plugins as long as they do not break the theme. If you want to add it, ensure that the theme stills works without the plugin.

[2021-10-14 20:03] fghaas commented on #289
It does, but don't take my word for it. :) I've put together a small test facility with tox and GitHub workflow actions. It's in https://github.com/fghaas/Flex/tree/tox and you can review a test run in https://github.com/fghaas/Flex/actions/runs/1343307269. Would you like a PR for that as well?

[2021-12-28 21:16] sercxanto commented on #251
@andreagrandi FYI I got tipue search up and running with pelican 4.7.1, Flex 2.4.0 and the latest tipue plugin ,see  #291 .

[2022-01-19 09:32] aubindonnot opened #292 "Change aside div img {border-radius & max-width}"
Hello,
I have been trying to change the border radius and the size of the profile picture on the template by updating "aside div img {border-radius:50%, max-width: 140px}" under the files Flex-master/static/stylesheet/style & Flex-master/static/stylesheet/style.min with no effects.
Is there is another callout in the code that need modification?

[2022-01-24 16:33] alexandrevicenzi commented on #292
You should put all changes in `CUSTOM_CSS` see https://github.com/alexandrevicenzi/Flex/wiki/Configuration-example

[2022-01-24 16:33] #292 closed, assigned to nobody

[2022-02-22 10:17] lioman opened #293 "Google fonts are added, even if set to false"
Google fonts are imported via tipuesearch CSS and `USE_GOOGLE_FONTS` is ignored.

I can implement the fix myself, but want to discuss it first. One simple solution is to just ditch google fonts entirely and add host the fonts. This would be a decrease in configuration complexity, privacy and some say even speed.
With current setup it is easy to be not GDPR compliant and IMHO the risks does not out

[2022-02-24 08:52] lioman commented on #293
I will implement it like that. But just a side note, there is a recent German court decision that sharing the IP without consent violates tyhe GDPR: https://rewis.io/urteile/urteil/lhm-20-01-2022-3-o-1749320/

[2022-03-07 11:24] lioman opened #296 "Add support for stork search via search plugin"
tipue search is deprecated and [Pelican search](https://github.com/pelican-plugins/search) should be used instead.
I have already implemented it and open this issue, just for discussion purposes.
I can open the PR, once it is documented and tested.

[2022-03-08 13:02] alexandrevicenzi commented on #296
Feel free to send a PR and document the new search option as well to notify that tipue is deprecated.

[2022-03-08 13:05] alexandrevicenzi commented on #296
BTW, I suggest moving search to a partial template and just include that partial in the base template.

It will become an if/else hell if many search options are used, it's easier to maintain in a partial file for each plugin and another partial for search to glue both plugins.

[2022-03-08 13:05] alexandrevicenzi commented on #293
Fixed by #294

[2022-03-08 13:05] #293 closed

[2022-03-08 13:09] alexandrevicenzi commented on #251
This should be fixed by #291.

[2022-03-08 13:09] #251 closed

[2022-03-08 13:10] alexandrevicenzi commented on #251
Also, note that tipue search is deprecated and may stop working with newer releases of Pelican. In that case, it may be dropped from this theme.

[2022-03-10 09:20] lioman commented on #296
That's one thing I want to do there, before raising an PR. Question about documenting:
Since documentation is in github wiki. Should we document it first and raise a PR then. Or merge the PR and document it later in the wiki. Or last option: Add all documentation about theme settings to README so that code and documentationis always aligned.

[2022-03-11 12:24] haplo commented on #226
@alexandrevicenzi I created a PR from @lpenaud's branch, it's working for me. I actually added a watch task locally before discovering this issue and @lpenaud's work. I think it's a good idea to merge it as it's backwards-compatible.

[2022-03-11 14:04] haplo opened #300 "Style for toc markdown extension"
I'm using the [Table of Contents (toc)](https://python-markdown.github.io/extensions/toc/) markdown extension and need to add some basic styling as it's currently completely unstyled.

## Example document

[code]

## Current style
![image](https://user-images.githubusercontent.com/71658/157881978-40e3a944-455c-4987-8fd8-87ead19a08c5.png)

## Proposed style
![image](https://user-images.githubuserco

[2022-03-12 17:01] haplo opened #302 "Fix styles for figure elements"
PR #225 added styles for figures, but only for `<div class="figure">`. I'm using [markdown-captions](https://github.com/evidlo/markdown_captions) markdown extension to generate figures, and it uses semantic `<figure>` and `<figcaption>` elements. It would make sense for the theme to support both cases.

This PR extends the selectors of the existing styles, plus:
* Center-align figure captions.
* A

[2022-03-12 17:06] haplo commented on #302
Relates to #224.

[2022-07-04 08:47] haplo commented on #226
@lpenaud I have merged your changes in my fork of Flex that I called Reflex. I'm going to integrate more changes that have been pending on Flex, then make a release of the theme.

[2022-07-06 19:47] banym opened #305 "Mastodon social button not working"
Not sure why, but the mastodon social button stopped working for me.

<a class="sc-mastodon" href="https://bsd.network/@banym" target="_blank"><i class="fa fa-mastodon"></i></a>

Not quite sure how to verify what did go wrong or how to help to debug this further.

[2022-07-08 13:21] alexandrevicenzi commented on #305
Can you share your config? Nothing changed, so perhaps a configuration issue is the problem.

[2022-07-08 13:27] alexandrevicenzi commented on #226
@haplo I like the name, but if anyone asks to be a contributor to this project, I can give permission to merge MRs.

Unfortunately, I don't have enough time to take of everything, and as I switched to Hugo a long time ago, this tame has been kinda stale for a while, as many still use it, I would like to keep it alive with contributions for others.

[2022-07-08 13:35] #226 closed

[2022-07-08 13:38] alexandrevicenzi commented on #296
Fixed by #298

[2022-07-08 13:38] #296 closed

[2022-07-08 13:41] alexandrevicenzi commented on #285
Ok, perhaps it's time for 3.0 release, where we break some compatibility, and document properly how to migrate. Pelican itself has changed a lot since the origin of this theme.

I won't be against breaking changes, as long as we document everything properly, otherwise, people will open issues, which can be a problem.

[2022-07-08 13:43] alexandrevicenzi commented on #286
Fixed by #287

[2022-07-08 13:43] #286 closed

[2022-07-08 13:45] #289 closed

[2022-07-09 19:03] alexandrevicenzi commented on #218
Closing this as Pelican Markdown has TOC already, no plugins are needed.

[2022-07-09 19:03] #218 closed

[2022-07-11 19:45] banym commented on #305
yes of course.
[pelicanconf.py.txt](https://github.com/alexandrevicenzi/Flex/files/9087116/pelicanconf.py.txt)

[2022-07-12 19:49] alexandrevicenzi commented on #305
Good, thanks.

[2022-07-12 19:49] #305 closed

[2022-07-19 18:48] haplo commented on #226
I wish you would have replied before I went ahead and put the effort into the fork, I would have accepted your offer then. At this point I think I will keep Reflex, as I'm already working on some backwards-incompatible visual changes. Of course feel free to merge back any changes you find useful, most of the theme will remain compatible.

Thank you very much for Flex!

[2022-07-21 12:18] alexandrevicenzi commented on #226
@haplo it's ok to fork, that's the open source spirit :)

I'm also planing some changes in the codebase, things are a bit messy to maintain.

[2022-07-26 11:21] peacej commented on #70
Sorry I've tried for hours and cannot get this to work.  What do you mean by "change the LESS" ? Which file specifically?  I just want the sidebar titles to not be converted to lowercase.

[2022-08-03 05:22] paulocoutinhox opened #306 "Migrating to this great theme"
Hi,

Thanks for this great theme.

Im trying migrate my blog to this:
https://pastorpaulo.com/

1 - I need change colors to make it like mine (blue left menu, gray text, red title, etc). It is only possible with custom css configuration, right?

<img width="1375" alt="image" src="https://user-images.githubusercontent.com/395096/182528286-7f47f44a-ece2-4bc3-8d91-f5497b76f4c3.png">

2 - To add a def

[2022-08-03 06:44] paulocoutinhox opened #307 "Stork search URL is not going to correct place"
Hi,

When enable search, the stork url is not going to correct place when im inside article:
<img width="750" alt="image" src="https://user-images.githubusercontent.com/395096/182541779-6f99cb7e-c088-46c3-a9ad-abb4b3b006e9.png">

If im on home, it is working.

Thanks.

[2022-08-03 07:10] paulocoutinhox opened #308 "Add main content class to make search easy and batter"
Hi,

Please, add main content class to make search easy and batter.

Today the pelican-search plugin get the element "main" or other css selector.

My suggestion is add a class like "main-contents" to the real content div.

Docs:
https://stork-search.net/docs/html

Example of page with Flex theme and empty div class name:

<img width="1714" alt="image" src="https://user-images.githubusercontent.co

[2022-08-03 08:33] paulocoutinhox opened #309 "Fix stork location when use self-hosted"
Hi,

When we use self-hosted stork, you place it inside "static" root path. But need be "static/js" and "static/css", what is recommended on official website:
https://github.com/pelican-plugins/search

Only need change here:
https://github.com/alexandrevicenzi/Flex/blob/3b11bc99081a60ac0515d2588e71a08cd1a3729e/templates/partial/stork_search.html#L6-L8

Thanks.

[2022-08-17 07:30] peacej opened #310 "Recommend directly cloning this repo?"
The README says that the best way to install is via [pelican-themes](https://github.com/getpelican/pelican-themes). But that results in installing a version of Flex that is 2 years old. Perhaps you should recommend directly cloning this repo as the best method?

[2022-08-17 10:33] alexandrevicenzi commented on #310
Hi, you can clone this, but prefer using one of the git tags, master branch is stable, but something can break unnoticed as there are two many config options that one can use.

[2022-08-17 10:34] alexandrevicenzi commented on #310
I also should create a new tag based on the current changes available, will do it soon.

[2022-08-30 17:28] paulocoutinhox commented on #306
@alexandrevicenzi can you help me here?

[2022-08-31 16:31] alexandrevicenzi commented on #306
Hi,

1. Yes, you need to use `CUSTOM_CSS`.
2. You need to set `SITELOGO`.
3. You can set some with `FAVICON`, but not for apple or manifest.
4. You have too many tags, but this is a bug in the theme as it was never tested with so many, you can fix it with `CUSTOM_CSS`.
5. Pelican allows you to write HTML code inside Markdown, or you can find a Pelican plugin that does something like that, but a pl

[2022-08-31 16:41] alexandrevicenzi commented on #308
Hi,

The correct selector would be `article`, all posts are inside an article tag, `main` is meant for the entire website. You can also use the `single` class, as it's applied to articles only.

I'm not sure how the selector works, but it should allow `SEARCH_HTML_SELECTOR = "article.single > div"`, if it does not, well it's a bug in stork. This selector would select only the post content and not

[2022-08-31 16:41] #308 closed

[2022-08-31 18:36] alexandrevicenzi commented on #307
I'm not able to reproduce this issue, the search takes me to the correct place every time.

[2022-08-31 20:05] #300 closed

[2022-08-31 20:05] #309 closed

[2022-08-31 20:05] #302 closed

[2022-08-31 20:08] alexandrevicenzi commented on #284
Fixed in 2.5.

[2022-08-31 20:39] alexandrevicenzi commented on #310
Tag v2.5.0 is out.

[2022-08-31 20:39] #310 closed

[2022-09-05 10:48] lioman commented on #307
I had some similar issue, basically it should work on `/` but on no other page. If this is your issue:

1. install pelican search from my branch: https://github.com/lioman/search (A PR is open long ago but not reviewed yet)
2. Set the input options like this:
[code]

[2022-09-11 14:33] paulocoutinhox opened #314 "Canonical link for index page"
Hi,

Google alert me that home (ex: https://mysite.com) has the same canonical link that index.html page (https://mysite.com/index.html). Can you fix adding support to write correct canonical link when index.html is acessed?

Maybe it is here:
https://github.com/alexandrevicenzi/Flex/blob/master/templates/base.html#L103-L117

Thanks.

[2022-09-12 10:23] alexandrevicenzi commented on #314
Hi,

Flex supports the Pelican SEO plugin, which does a far better job, you should consider that if SEO is a key requirement, Flex tries to do best SEO practices, but I'm no SEO expert.

I also think that Google should not index *.html, the site index is mysite.com/, and just that, posts are mysite.com/slug.

[2022-10-14 08:47] rsreds opened #315 "Tags in pages title"
In the theme, the page title is not stripped of tags when used as the page title.
This result in the <p> tag being present in the tab title.
![image](https://user-images.githubusercontent.com/26118849/195803835-5d374c23-d952-4015-a872-2dfd017ac7cc.png)

This is due to the fact that the title is computed as:
`{% block title %} &ndash; {{ page.title }}{% endblock %}`
in the page.html template
This i

[2022-10-14 09:15] alexandrevicenzi commented on #315
Hi,

I'm not sure why there are HTML tags in the MD meta tags, and I guess that's the issue, but I don't see any harm in stripping the title.

Only generated content from MD should have HTML tags, in this case, the blog post body/content.

Feel free to send a patch fixing this issue.

[2022-10-24 15:36] savoyad opened #316 "Link to google developers reference in wiki is dead"
The link to the google developers reference in the wiki - in custom settings, next to BROWSER_COLOR and REL_CANONICAL is dead.

[2022-10-29 15:29] fghaas opened #317 "Add support for Plausible analytics"
[Plausible](https://plausible.io) is a lightweight, privacy-conscious, AGPL-licensed, [open source](https://github.com/plausible/analytics) analytics solution. Adding support for Plausible to this theme is quite straightforward; all that's required is a new partial, and a trivial patch to `base.html`.

[2022-11-27 08:32] DhwanishShah commented on #315
Hi i want to contribute on this issue. Can you assign me this issue?

[2022-11-28 08:58] alexandrevicenzi commented on #315
Fixed by #304

[2022-11-28 08:58] #315 closed